In [3]:
import requests
import pandas as pd
import matplotlib.pyplot as plt
import os
from tqdm import tqdm

In [4]:
eia_api_key = "qjAQkgQvyQKzlWw3cGAL5UoBAv20MKF4QhIHbuXK"

In [5]:
print(f"Cheia mea API este: {eia_api_key}")

Cheia mea API este: qjAQkgQvyQKzlWw3cGAL5UoBAv20MKF4QhIHbuXK

In [6]:

API = eia_api_key
URL = "https://api.eia.gov/v2/international/data/"

def get_eia_product(pid):
    rows = []
    offset = 0

    while True:
        params = {
            "api_key": API,
            "frequency": "annual",
            "data[0]": "value",
            "start": "2000",
            "end": "2025",
            "facets[productId][]": pid,
            "sort[0][column]": "period",
            "sort[0][direction]": "desc",
            "offset": offset,
            "length": 5000
        }

        res = requests.get(URL, params=params).json()
        data = res["response"]["data"]

        rows.extend(data)

        if len(data) < 5000:
            break

        offset += 5000

    return pd.DataFrame(rows)

In [7]:
df_list = []
PRODUCT_IDS = [2, 30, 31, 32, 29, 37, 116, 33, 27, 44, 4008, 47, 4701, 4702] 

for pid in PRODUCT_IDS:
    df_list.append(get_eia_product(pid))

df = pd.concat(df_list, ignore_index=True)

In [8]:
print(df.shape)
df.head()

(332324, 14)

,period,productId,productName,activityId,activityName,countryRegionId,countryRegionName,countryRegionTypeId,countryRegionTypeName,dataFlagId,dataFlagDescription,unitName,value,unit
0,2023,2,Electricity,2,Consumption,ABW,Aruba,c,Country,None,None,billion kilowatthours,.824035908,BKWH
1,2023,2,Electricity,2,Consumption,AFG,Afghanistan,c,Country,None,None,billion kilowatthours,6.46823218,BKWH
2,2023,2,Electricity,2,Consumption,AGO,Angola,c,Country,None,None,billion kilowatthours,16.213833931,BKWH
3,2023,2,Electricity,2,Consumption,ALB,Albania,c,Country,None,None,billion kilowatthours,7.489578147,BKWH
4,2023,2,Electricity,2,Consumption,ARE,United Arab Emirates,c,Country,None,None,billion kilowatthours,157.973627617,BKWH

In [10]:
AFRICA_COUNTRY_CODES = [
    'DZA', 'AGO', 'BEN', 'BWA', 'BFA', 'BDI', 'CPV', 'CMR', 'CAF', 'TCD', 'COM', 
    'COG', 'CIV', 'COD', 'ERI', 'ETH', 'GAB', 'GMB', 'GHA', 'GIN', 'GNB', 'GNQ', 
    'KEN', 'LSO', 'LBR', 'LBY', 'MDG', 'MWI', 'MLI', 'MRT', 'MUS', 'MAR', 'MOZ', 
    'NAM', 'NER', 'NGA', 'RWA', 'STP', 'SEN', 'SYC', 'SLE', 'SOM', 'ZAF', 'SSD', 
    'SDN', 'SWZ', 'TGO', 'TUN', 'UGA', 'TZA', 'ZMB', 'ZWE', 'EGY', 'DJI'
]

In [13]:
df_africa_countries = df[
    (df["countryRegionTypeName"] == "Country") &
    (df["countryRegionId"].isin(AFRICA_COUNTRY_CODES))
].copy()

In [14]:
print(df.columns)

Index(['period', 'productId', 'productName', 'activityId', 'activityName',
       'countryRegionId', 'countryRegionName', 'countryRegionTypeId',
       'countryRegionTypeName', 'dataFlagId', 'dataFlagDescription',
       'unitName', 'value', 'unit'],
      dtype='object')

In [15]:
df_africa_countries.head()

,period,productId,productName,activityId,activityName,countryRegionId,countryRegionName,countryRegionTypeId,countryRegionTypeName,dataFlagId,dataFlagDescription,unitName,value,unit
2,2023,2,Electricity,2,Consumption,AGO,Angola,c,Country,None,None,billion kilowatthours,16.213833931,BKWH
13,2023,2,Electricity,2,Consumption,BDI,Burundi,c,Country,None,None,billion kilowatthours,.444018308,BKWH
15,2023,2,Electricity,2,Consumption,BEN,Benin,c,Country,None,None,billion kilowatthours,1.45894827,BKWH
16,2023,2,Electricity,2,Consumption,BFA,Burkina Faso,c,Country,None,None,billion kilowatthours,3.095998505,BKWH
30,2023,2,Electricity,2,Consumption,BWA,Botswana,c,Country,None,None,billion kilowatthours,3.879247776,BKWH

In [16]:
df_africa_countries.info()
df_africa_countries["productName"].value_counts()
df_africa_countries["activityName"].value_counts()
df_africa_countries["period"].unique()

<class 'pandas.core.frame.DataFrame'>
Index: 68270 entries, 2 to 332288
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   period                 68270 non-null  object
 1   productId              68270 non-null  object
 2   productName            68270 non-null  object
 3   activityId             68270 non-null  object
 4   activityName           68270 non-null  object
 5   countryRegionId        68270 non-null  object
 6   countryRegionName      68270 non-null  object
 7   countryRegionTypeId    68270 non-null  object
 8   countryRegionTypeName  68270 non-null  object
 9   dataFlagId             12227 non-null  object
 10  dataFlagDescription    12227 non-null  object
 11  unitName               68270 non-null  object
 12  value                  68270 non-null  object
 13  unit                   68270 non-null  object
dtypes: object(14)
memory usage: 7.8+ MB

array(['2023', '2022', '2021', '2020', '2019', '2018', '2017', '2016',
       '2015', '2014', '2013', '2012', '2011', '2010', '2009', '2008',
       '2007', '2006', '2005', '2004', '2003', '2002', '2001', '2024'],
      dtype=object)

In [19]:
df_africa_countries["countryRegionId"].unique()

array(['AGO', 'BDI', 'BEN', 'BFA', 'BWA', 'CAF', 'CIV', 'CMR', 'COD',
       'COG', 'COM', 'CPV', 'DJI', 'DZA', 'EGY', 'ERI', 'ETH', 'GAB',
       'GHA', 'GIN', 'GMB', 'GNB', 'GNQ', 'KEN', 'LBR', 'LBY', 'LSO',
       'MAR', 'MDG', 'MLI', 'MOZ', 'MRT', 'MUS', 'MWI', 'NAM', 'NER',
       'NGA', 'RWA', 'SDN', 'SEN', 'SLE', 'SOM', 'SSD', 'STP', 'SWZ',
       'SYC', 'TCD', 'TGO', 'TUN', 'TZA', 'UGA', 'ZAF', 'ZMB', 'ZWE'],
      dtype=object)

In [17]:
df_africa_countries.to_csv("eia_africa_countries_raw.csv", index=False)