
# Curatarea datelor - EIA

In [1]:
import pandas as pd

In [2]:
eia = pd.read_csv("eia_africa_countries_raw.csv")
eia.head ()

,period,productId,productName,activityId,activityName,countryRegionId,countryRegionName,countryRegionTypeId,countryRegionTypeName,dataFlagId,dataFlagDescription,unitName,value,unit
0,2023,2,Electricity,2,Consumption,AGO,Angola,c,Country,NaN,NaN,billion kilowatthours,16.213833931,BKWH
1,2023,2,Electricity,2,Consumption,BDI,Burundi,c,Country,NaN,NaN,billion kilowatthours,.444018308,BKWH
2,2023,2,Electricity,2,Consumption,BEN,Benin,c,Country,NaN,NaN,billion kilowatthours,1.45894827,BKWH
3,2023,2,Electricity,2,Consumption,BFA,Burkina Faso,c,Country,NaN,NaN,billion kilowatthours,3.095998505,BKWH
4,2023,2,Electricity,2,Consumption,BWA,Botswana,c,Country,NaN,NaN,billion kilowatthours,3.879247776,BKWH

In [3]:
eia = pd.read_csv("eia_africa_countries_raw.csv")
eia

,period,productId,productName,activityId,activityName,countryRegionId,countryRegionName,countryRegionTypeId,countryRegionTypeName,dataFlagId,dataFlagDescription,unitName,value,unit
0,2023,2,Electricity,2,Consumption,AGO,Angola,c,Country,NaN,NaN,billion kilowatthours,16.213833931,BKWH
1,2023,2,Electricity,2,Consumption,BDI,Burundi,c,Country,NaN,NaN,billion kilowatthours,.444018308,BKWH
2,2023,2,Electricity,2,Consumption,BEN,Benin,c,Country,NaN,NaN,billion kilowatthours,1.45894827,BKWH
3,2023,2,Electricity,2,Consumption,BFA,Burkina Faso,c,Country,NaN,NaN,billion kilowatthours,3.095998505,BKWH
4,2023,2,Electricity,2,Consumption,BWA,Botswana,c,Country,NaN,NaN,billion kilowatthours,3.879247776,BKWH
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68265,2001,4702,Population,33,Population,TZA,Tanzania,c,Country,NaN,NaN,people in thousands,35198.3,THP
68266,2001,4702,Population,33,Population,UGA,Uganda,c,Country,NaN,NaN,people in thousands,24745.67,THP
68267,2001,4702,Population,33,Population,ZAF,South Africa,c,Country,NaN,NaN,people in thousands,47566.8,THP
68268,2001,4702,Population,33,Population,ZMB,Zambia,c,Country,NaN,NaN,people in thousands,10325.18,THP
68269,2001,4702,Population,33,Population,ZWE,Zimbabwe,c,Country,NaN,NaN,people in thousands,11971.9,THP

# 1) Profilare

In [4]:
print("Coloanele disponibile:\n", eia.columns,"\nPrimele 2 randuri:")
eia.head(2)

Coloanele disponibile:
 Index(['period', 'productId', 'productName', 'activityId', 'activityName',
       'countryRegionId', 'countryRegionName', 'countryRegionTypeId',
       'countryRegionTypeName', 'dataFlagId', 'dataFlagDescription',
       'unitName', 'value', 'unit'],
      dtype='object')
Primele 2 randuri:

,period,productId,productName,activityId,activityName,countryRegionId,countryRegionName,countryRegionTypeId,countryRegionTypeName,dataFlagId,dataFlagDescription,unitName,value,unit
0,2023,2,Electricity,2,Consumption,AGO,Angola,c,Country,NaN,NaN,billion kilowatthours,16.213833931,BKWH
1,2023,2,Electricity,2,Consumption,BDI,Burundi,c,Country,NaN,NaN,billion kilowatthours,.444018308,BKWH

In [5]:
print("Dimensiune dataframe:", eia.shape)
print("\nTipuri de date:")
print(eia.dtypes)

Dimensiune dataframe: (68270, 14)

Tipuri de date:
period                     int64
productId                  int64
productName               object
activityId                 int64
activityName              object
countryRegionId           object
countryRegionName         object
countryRegionTypeId       object
countryRegionTypeName     object
dataFlagId               float64
dataFlagDescription       object
unitName                  object
value                     object
unit                      object
dtype: object

In [6]:
print("\nTipuri de entități (Country vs Region):")
print(eia['countryRegionTypeName'].value_counts())

Tipuri de entități (Country vs Region):
countryRegionTypeName
Country    68270
Name: count, dtype: int64

In [7]:
eia['countryRegionTypeName'].value_counts()

countryRegionTypeName
Country    68270
Name: count, dtype: int64

In [81]:
eia['unit'].value_counts().head(20)

unit
BKWH         17354
MTOE         12386
QBTU         12386
TJ           12386
MK            7452
THP           1296
BDOLPPP       1284
MMTCD         1242
TBTUUSDPP     1242
MBTUPP        1242
Name: count, dtype: int64

Unitati multiple
- QBTU       (Quadrillion BTU)
- MTOE       (Million tonnes oil equivalent)
- TJ         (Terajoules)
- BKWH       (Billion kWh)
- MT         (Thousand metric tons)
- TST        (Thousand short tons)
- MMTCD      (Million metric tons CO2)
- BDOLPPP    (Billion dollars PPP)

In [8]:
print("\nProcent lipsuri pe coloană (%):")
print((eia.isna().mean() * 100).round(2))

Procent lipsuri pe coloană (%):
period                    0.00
productId                 0.00
productName               0.00
activityId                0.00
activityName              0.00
countryRegionId           0.00
countryRegionName         0.00
countryRegionTypeId       0.00
countryRegionTypeName     0.00
dataFlagId               82.09
dataFlagDescription      82.09
unitName                  0.00
value                     0.00
unit                      0.00
dtype: float64

In [9]:
print("\nTop 10 produse:")
print(eia['productName'].value_counts())

Top 10 produse:
productName
Electricity               19736
Primary energy             7452
Renewables                 6210
Hydroelectricity           6210
Solar                      6210
Wind                       6210
Nuclear                    6210
Energy intensity           2484
Population                 1296
Gross domestic product     1284
Natural gas                1242
Oil                        1242
Coal                       1242
CO2 emissions              1242
Name: count, dtype: int64

In [10]:
print("\nTop 10 activități:")
print(eia['activityName'].value_counts().head(10))

Top 10 activități:
activityName
Generation             29808
Capacity                7452
Consumption             4968
Net imports             4964
Imports                 4964
Exports                 4840
Production              3726
Population              2538
GDP                     2526
Distribution losses     1242
Name: count, dtype: int64

In [84]:
print(eia.productId.unique())

[   2   30   31   32   29   37  116   33   27   44 4008   47 4701 4702]

In [11]:
print("\nAni în dataset:")
print(eia['period'].unique())

Ani în dataset:
[2023 2022 2021 2020 2019 2018 2017 2016 2015 2014 2013 2012 2011 2010
 2009 2008 2007 2006 2005 2004 2003 2002 2001 2024]

### Toti indicatorii

In [12]:
eia[["productId", "productName", "activityName", "activityId"]].drop_duplicates().sort_values("productName")

       productId             productName         activityName  activityId
61964       4008           CO2 emissions            Emissions           8
19736         30                    Coal           Generation          12
0              2             Electricity          Consumption           2
54             2             Electricity              Imports           3
266            2             Electricity              Exports           4
354            2             Electricity             Capacity           7
408            2             Electricity  Distribution losses           9
462            2             Electricity           Generation          12
516            2             Electricity          Net imports          23
63260         47        Energy intensity                  GDP          34
63206         47        Energy intensity           Population          33
65690       4701  Gross domestic product                  GDP          34
42146         33        Hydroelectricity           Generation          12
42092         33        Hydroelectricity             Capacity           7
20978         31             Natural gas           Generation          12
48356         27                 Nuclear           Generation          12
48302         27                 Nuclear             Capacity           7
22220         32                     Oil           Generation          12
66974       4702              Population           Population          33
54512         44          Primary energy           Production           1
54674         44          Primary energy          Consumption           2
23516         29              Renewables           Generation          12
23462         29              Renewables             Capacity           7
35882        116                   Solar             Capacity           7
35936        116                   Solar           Generation          12
29672         37                    Wind             Capacity           7
29726         37                    Wind           Generation          12

# 2). Standardizare

In [13]:
eia_std = eia.copy()

In [14]:
eia_std = eia_std.rename(columns={
    'period': 'year',
    'countryRegionId': 'country_iso3',
    'countryRegionName': 'country_name',
    'unitName': 'unit_name'
})

In [15]:
eia_std.columns

Index(['year', 'productId', 'productName', 'activityId', 'activityName',
       'country_iso3', 'country_name', 'countryRegionTypeId',
       'countryRegionTypeName', 'dataFlagId', 'dataFlagDescription',
       'unit_name', 'value', 'unit'],
      dtype='object')

In [16]:
for col in ['productName', 'activityName', 'unit_name']:
    eia_std[col] = (
        eia_std[col]
            .astype(str)
            .str.strip()
            .str.lower()
            .str.replace(r'\s+', '_', regex=True)
    )

### Construim un nume pentru indicatori din produs si activitate - pentru nume, cod si label

#### Indicator name

In [17]:
eia_std['indicator_name'] = (
    eia_std['productName'] + '_' + eia_std['activityName']
)
eia_std.indicator_name.unique()

array(['electricity_consumption', 'electricity_imports',
       'electricity_exports', 'electricity_capacity',
       'electricity_distribution_losses', 'electricity_generation',
       'electricity_net_imports', 'coal_generation',
       'natural_gas_generation', 'oil_generation', 'renewables_capacity',
       'renewables_generation', 'wind_capacity', 'wind_generation',
       'solar_capacity', 'solar_generation', 'hydroelectricity_capacity',
       'hydroelectricity_generation', 'nuclear_capacity',
       'nuclear_generation', 'primary_energy_production',
       'primary_energy_consumption', 'co2_emissions_emissions',
       'energy_intensity_population', 'energy_intensity_gdp',
       'gross_domestic_product_gdp', 'population_population'],
      dtype=object)

In [18]:
eia_std.loc[
    eia_std['productName'] == eia_std['activityName'],
    'indicator_name'
] = eia_std['productName']

eia_std.indicator_name.unique()

array(['electricity_consumption', 'electricity_imports',
       'electricity_exports', 'electricity_capacity',
       'electricity_distribution_losses', 'electricity_generation',
       'electricity_net_imports', 'coal_generation',
       'natural_gas_generation', 'oil_generation', 'renewables_capacity',
       'renewables_generation', 'wind_capacity', 'wind_generation',
       'solar_capacity', 'solar_generation', 'hydroelectricity_capacity',
       'hydroelectricity_generation', 'nuclear_capacity',
       'nuclear_generation', 'primary_energy_production',
       'primary_energy_consumption', 'co2_emissions_emissions',
       'energy_intensity_population', 'energy_intensity_gdp',
       'gross_domestic_product_gdp', 'population'], dtype=object)

In [19]:
len(eia_std.indicator_name.unique())

27

#### Pentru indicator code

In [20]:
eia_std['indicator_code'] = (
    eia_std['productName'].str[:4].str.upper() + "_" +
    eia_std['activityName'].str[:3].str.upper()
)
eia_std['indicator_code'].unique()

array(['ELEC_CON', 'ELEC_IMP', 'ELEC_EXP', 'ELEC_CAP', 'ELEC_DIS',
       'ELEC_GEN', 'ELEC_NET', 'COAL_GEN', 'NATU_GEN', 'OIL_GEN',
       'RENE_CAP', 'RENE_GEN', 'WIND_CAP', 'WIND_GEN', 'SOLA_CAP',
       'SOLA_GEN', 'HYDR_CAP', 'HYDR_GEN', 'NUCL_CAP', 'NUCL_GEN',
       'PRIM_PRO', 'PRIM_CON', 'CO2__EMI', 'ENER_POP', 'ENER_GDP',
       'GROS_GDP', 'POPU_POP'], dtype=object)

#### Pentru un indicator label

In [21]:
eia_std['indicator_label'] = (
    eia_std['productName'].str.replace('_', ' ').str.title()
    + " – " +
    eia_std['activityName'].str.replace('_', ' ').str.title()
)
eia_std.indicator_label.unique()

array(['Electricity – Consumption', 'Electricity – Imports',
       'Electricity – Exports', 'Electricity – Capacity',
       'Electricity – Distribution Losses', 'Electricity – Generation',
       'Electricity – Net Imports', 'Coal – Generation',
       'Natural Gas – Generation', 'Oil – Generation',
       'Renewables – Capacity', 'Renewables – Generation',
       'Wind – Capacity', 'Wind – Generation', 'Solar – Capacity',
       'Solar – Generation', 'Hydroelectricity – Capacity',
       'Hydroelectricity – Generation', 'Nuclear – Capacity',
       'Nuclear – Generation', 'Primary Energy – Production',
       'Primary Energy – Consumption', 'Co2 Emissions – Emissions',
       'Energy Intensity – Population', 'Energy Intensity – Gdp',
       'Gross Domestic Product – Gdp', 'Population – Population'],
      dtype=object)

#### Country type

In [22]:
eia_std['countryRegionTypeName'] = eia_std['countryRegionTypeName'].str.lower()

In [23]:
eia_std['countryRegionTypeName'].unique()

array(['country'], dtype=object)

# PASUL 3: LIPSURI (Missing Analysis)

In [24]:
print("Procent lipsuri pe coloană (%):")
print((eia_std.isna().mean() * 100).round(2))

Procent lipsuri pe coloană (%):
year                      0.00
productId                 0.00
productName               0.00
activityId                0.00
activityName              0.00
country_iso3              0.00
country_name              0.00
countryRegionTypeId       0.00
countryRegionTypeName     0.00
dataFlagId               82.09
dataFlagDescription      82.09
unit_name                 0.00
value                     0.00
unit                      0.00
indicator_name            0.00
indicator_code            0.00
indicator_label           0.00
dtype: float64

In [25]:
print("Numar de valori lipsa pentru coloana value")
print(eia_std.value.isna().sum())

Numar de valori lipsa pentru coloana value
0

In [26]:
missing_by_year = (
    eia_std.groupby('year')['value']
           .apply(lambda x: x.isna().mean())
)
print("\nLipsuri pe an (%):")
print((missing_by_year * 100).round(2).head(20))

Lipsuri pe an (%):
year
2001    0.0
2002    0.0
2003    0.0
2004    0.0
2005    0.0
2006    0.0
2007    0.0
2008    0.0
2009    0.0
2010    0.0
2011    0.0
2012    0.0
2013    0.0
2014    0.0
2015    0.0
2016    0.0
2017    0.0
2018    0.0
2019    0.0
2020    0.0
Name: value, dtype: float64

In [27]:
eia_country = eia_std[eia_std["countryRegionTypeName"] == "country"].copy()
eia_region = eia_std[eia_std["countryRegionTypeName"] == "region"].copy()

In [28]:
cols_to_drop = [
    'productId',
    'activityId',
    'countryRegionTypeId',
    'countryRegionTypeName',
    'dataFlagId',
    'dataFlagDescription',
    'productName',        
    'activityName'       
]
 
eia_clean = eia_country.drop(columns=cols_to_drop)

In [29]:
eia_clean = eia_clean.dropna(how='all')
 
eia_clean = eia_clean.drop_duplicates(keep='first')

In [30]:
eia_clean= eia_clean[[
    'country_iso3',
    'country_name',
    'year',
    'indicator_code',
    'indicator_name',
    'indicator_label',
    'unit',
    'unit_name',
    'value'
]].copy()

In [33]:
An = 2001
eia_clean = eia_clean[eia_clean['year'] != An].copy()

In [34]:
eia_clean['year'].value_counts()

year
2022    2970
2021    2970
2019    2970
2020    2970
2018    2970
2017    2970
2013    2970
2016    2970
2015    2970
2014    2970
2009    2969
2012    2969
2011    2969
2010    2969
2005    2969
2008    2969
2007    2969
2006    2969
2003    2969
2004    2969
2002    2969
2023    2834
Name: count, dtype: int64

In [35]:
eia_clean.to_csv("eia_clean.csv", index = False)

In [36]:
eia_clean.head(2)

,country_iso3,country_name,year,indicator_code,indicator_name,indicator_label,unit,unit_name,value
0,AGO,Angola,2023,ELEC_CON,electricity_consumption,Electricity – Consumption,BKWH,billion_kilowatthours,16.213833931
1,BDI,Burundi,2023,ELEC_CON,electricity_consumption,Electricity – Consumption,BKWH,billion_kilowatthours,.444018308

# CURATARE DATE WDI

In [37]:
import pandas as pd
import numpy as np

In [38]:
wdi = pd.read_csv("wdi_africa_countries_raw.csv")
print(wdi.shape)
print(wdi.columns)
wdi.head(3)

(10368, 6)
Index(['Country_Name', 'Country_Code', 'Year', 'Indicator_Name',
       'Indicator_Code', 'Value'],
      dtype='object')

,Country_Name,Country_Code,Year,Indicator_Name,Indicator_Code,Value
0,Djibouti,DJI,2000,access_electricity,EG.ELC.ACCS.ZS,56.0
1,"Egypt, Arab Rep.",EGY,2000,access_electricity,EG.ELC.ACCS.ZS,97.7
2,Zimbabwe,ZWE,2000,access_electricity,EG.ELC.ACCS.ZS,33.7

In [39]:
wdi.shape

(10368, 6)

In [40]:
wdi.columns

Index(['Country_Name', 'Country_Code', 'Year', 'Indicator_Name',
       'Indicator_Code', 'Value'],
      dtype='object')

In [41]:
wdi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10368 entries, 0 to 10367
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country_Name    10368 non-null  object
 1   Country_Code    10368 non-null  object
 2   Year            10368 non-null  int64
 3   Indicator_Name  10368 non-null  object
 4   Indicator_Code  10368 non-null  object
 5   Value           8954 non-null   float64
dtypes: float64(1), int64(1), object(4)
memory usage: 486.1+ KB

In [42]:
wdi.dtypes

Country_Name       object
Country_Code       object
Year                int64
Indicator_Name     object
Indicator_Code     object
Value             float64
dtype: object

In [43]:
wdi['Value'].apply(type).value_counts(). head()

Value
<class 'float'>    10368
Name: count, dtype: int64

In [44]:
wdi.describe()

              Year         Value
count  10368.00000   8954.000000
mean    2011.50000    341.971792
std        6.92252   1350.807018
min     2000.00000     -2.590877
25%     2005.75000     -0.806856
50%     2011.50000      0.161913
75%     2017.25000     49.900000
max     2023.00000  19481.646105

In [45]:
wdi.describe(include='object')

       Country_Name Country_Code      Indicator_Name  Indicator_Code
count         10368        10368               10368           10368
unique           54           54                   8               8
top        Djibouti          DJI  access_electricity  EG.ELC.ACCS.ZS
freq            192          192                1296            1296

In [48]:
wdi.isna().mean().sort_values(ascending=False)

Value             0.136381
Country_Name      0.000000
Country_Code      0.000000
Year              0.000000
Indicator_Name    0.000000
Indicator_Code    0.000000
dtype: float64

In [49]:
wdi.columns

Index(['Country_Name', 'Country_Code', 'Year', 'Indicator_Name',
       'Indicator_Code', 'Value'],
      dtype='object')

In [50]:
pd.to_datetime(wdi['Year'], errors='coerce').isna().sum()

np.int64(0)

In [51]:
wdi['Indicator_Name'].value_counts()

Indicator_Name
access_electricity    1296
urban_population      1296
gdp_per_capita        1296
gov_effectiveness     1296
regulatory_quality    1296
rule_of_law           1296
control_corruption    1296
gini_coefficient      1296
Name: count, dtype: int64

In [52]:
print(wdi.columns)
wdi.head(3)

Index(['Country_Name', 'Country_Code', 'Year', 'Indicator_Name',
       'Indicator_Code', 'Value'],
      dtype='object')

,Country_Name,Country_Code,Year,Indicator_Name,Indicator_Code,Value
0,Djibouti,DJI,2000,access_electricity,EG.ELC.ACCS.ZS,56.0
1,"Egypt, Arab Rep.",EGY,2000,access_electricity,EG.ELC.ACCS.ZS,97.7
2,Zimbabwe,ZWE,2000,access_electricity,EG.ELC.ACCS.ZS,33.7

In [53]:
wdi['Value'] = pd.to_numeric(wdi['Value'], errors='coerce')

In [54]:
wdi['Year'] = wdi['Year'].astype(int)

In [55]:
wdi['Indicator_Name'].str.strip().str.lower().str.replace(' ', '_').str.replace(r'[^0-9a-zA-Z_]', '', regex=True)

0        access_electricity
1        access_electricity
2        access_electricity
3        access_electricity
4        access_electricity
                ...
10363      gini_coefficient
10364      gini_coefficient
10365      gini_coefficient
10366      gini_coefficient
10367      gini_coefficient
Name: Indicator_Name, Length: 10368, dtype: object

In [57]:
wdi.head(3)

,Country_Name,Country_Code,Year,Indicator_Name,Indicator_Code,Value
0,Djibouti,DJI,2000,access_electricity,EG.ELC.ACCS.ZS,56.0
1,"Egypt, Arab Rep.",EGY,2000,access_electricity,EG.ELC.ACCS.ZS,97.7
2,Zimbabwe,ZWE,2000,access_electricity,EG.ELC.ACCS.ZS,33.7

In [58]:
wdi.isna().sum()

Country_Name         0
Country_Code         0
Year                 0
Indicator_Name       0
Indicator_Code       0
Value             1414
dtype: int64

In [59]:
wdi.isna().mean().sort_values(ascending=False)

Value             0.136381
Country_Name      0.000000
Country_Code      0.000000
Year              0.000000
Indicator_Name    0.000000
Indicator_Code    0.000000
dtype: float64

In [ ]:
(wdi['Value'].isna()
        .groupby(wdi['Indicator_Code'])
        .mean()
        .sort_values())

Indicator_Code
SP.URB.TOTL.IN.ZS    0.000000
CC.EST               0.007246
RL.EST               0.008052
RQ.EST               0.008052
GE.EST               0.008857
EG.ELC.ACCS.ZS       0.010467
NY.GDP.PCAP.KD       0.031401
SI.POV.GINI          0.847021
Name: Value, dtype: float64

In [134]:
# Pasul 2: Ștergerea Rândurilor
# Selectăm DOAR rândurile unde coloana 'INDICATOR' NU este egală cu 'x'.
indicator_de_sters = 'SI.POV.GINI'

wdi_clean = wdi_clean[wdi_clean['Indicator_Code'] != indicator_de_sters].copy()

In [66]:
wdi.groupby('Country_Code')['Value'].apply(lambda x: x.isna().mean()).sort_values().head()

Country_Code
EGY    0.104167
RWA    0.114583
NGA    0.114583
ZMB    0.114583
UGA    0.114583
Name: Value, dtype: float64

In [67]:
wdi.groupby('Year')['Value'].apply(lambda x: x.isna().mean()).sort_values(ascending=False).head(10)

Year
2001    0.625000
2000    0.127315
2003    0.127315
2004    0.127315
2006    0.127315
2023    0.127315
2007    0.125000
2002    0.122685
2020    0.120370
2008    0.120370
Name: Value, dtype: float64

In [69]:
wdi.pivot_table(values='Value', index='Country_Code', columns='Year', aggfunc='count')

Year,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
Country_Code,,,,,,,,,,,,,,,,,,,,,
AGO,8,3,7,7,7,7,7,7,8,7,...,7,7,7,7,8,7,7,7,7,7
BDI,7,3,7,7,7,7,8,7,7,7,...,7,7,7,7,7,7,8,7,7,7
BEN,7,3,7,8,7,7,7,7,7,7,...,7,8,7,7,8,7,7,8,7,7
BFA,7,3,7,8,7,7,7,7,7,8,...,8,7,7,7,8,7,7,8,7,7
BWA,7,3,8,7,7,7,7,7,7,8,...,7,8,7,7,7,7,7,7,7,7
CAF,7,3,7,7,7,7,7,7,8,7,...,7,7,7,7,7,7,7,8,7,7
CIV,7,3,8,7,7,7,7,7,8,7,...,7,8,7,7,8,7,7,8,7,7
CMR,7,4,7,7,7,7,7,8,7,7,...,8,7,7,7,7,7,7,8,7,7
COD,7,3,7,7,8,7,7,7,7,7,...,7,7,7,7,7,7,8,7,7,7
COG,7,3,7,7,7,8,7,7,7,7,...,7,7,7,7,7,7,7,7,7,7
COM,7,3,7,7,8,7,7,7,7,7,...,8,7,7,7,7,7,7,7,7,7
CPV,6,4,7,7,7,7,7,8,7,7,...,7,8,7,7,7,7,7,7,7,7
DJI,6,2,7,6,6,6,6,6,6,6,...,7,7,7,8,7,7,7,7,7,7
DZA,7,3,7,7,7,7,7,7,7,7,...,7,7,7,7,7,7,7,7,7,7
EGY,7,3,7,7,8,7,7,7,8,7,...,7,8,7,8,7,8,7,8,7,7
ERI,7,3,7,7,7,7,7,7,7,7,...,6,6,6,6,6,6,6,6,6,6
ETH,7,3,7,7,8,7,7,7,7,7,...,7,8,7,7,7,7,7,8,7,7
GAB,7,3,7,7,7,8,7,7,7,7,...,7,7,7,8,7,7,7,7,7,7
GHA,7,3,7,7,7,8,7,7,7,7,...,7,7,8,7,7,7,7,7,7,7
GIN,7,3,8,7,7,7,7,8,7,7,...,7,7,7,7,8,7,7,7,7,7
GMB,7,3,7,8,7,7,7,7,7,7,...,7,8,7,7,7,7,8,7,7,7
GNB,6,2,8,7,7,7,7,7,7,7,...,7,7,7,7,8,7,7,8,7,7
GNQ,7,3,7,7,7,7,7,7,7,7,...,7,7,7,7,7,7,7,7,8,7
KEN,7,3,7,7,7,8,7,7,7,7,...,7,8,7,7,7,7,8,8,8,7
LBR,6,2,6,6,6,6,6,8,7,7,...,8,7,8,7,7,7,7,7,7,7
LBY,7,3,7,7,7,7,7,7,7,7,...,7,7,7,7,7,7,7,7,7,7
LSO,7,3,8,7,7,7,7,7,7,7,...,7,7,7,8,7,7,7,7,7,7
MAR,8,3,7,7,7,7,8,7,7,7,...,7,7,7,7,7,7,7,7,7,7
MDG,7,4,7,7,7,8,7,7,7,7,...,7,7,7,7,7,7,7,8,7,7
MLI,7,4,7,7,7,7,8,7,7,8,...,7,7,7,7,8,7,7,8,7,7
MOZ,7,3,8,7,7,7,7,7,8,7,...,8,7,7,7,7,8,7,7,8,7
MRT,8,3,7,7,8,7,7,7,8,7,...,8,7,7,7,7,8,7,7,7,7
MUS,7,3,7,7,7,7,8,7,7,7,...,7,7,7,8,7,7,7,7,7,7
MWI,7,3,7,7,8,7,7,7,7,7,...,7,7,8,7,7,8,7,7,7,7
NAM,7,3,7,8,7,7,7,7,7,8,...,7,8,7,7,7,7,7,7,7,7
NER,7,3,7,7,7,8,7,8,7,7,...,8,7,7,7,8,7,7,8,7,7
NGA,7,3,7,8,7,7,7,7,7,7,...,7,8,7,7,8,7,7,7,8,7
RWA,8,3,7,7,7,8,7,7,7,7,...,7,7,8,7,7,7,7,7,7,8
SDN,7,3,7,7,7,7,7,7,7,8,...,8,7,7,7,7,7,7,7,7,7
SEN,7,4,7,7,7,8,7,7,7,7,...,7,7,7,7,8,7,7,8,7,7
SLE,7,3,7,8,7,7,7,7,7,7,...,7,7,7,7,8,7,7,7,7,7
SOM,7,3,7,7,7,7,7,7,7,7,...,7,7,7,7,7,7,7,7,7,7
SSD,1,1,1,1,1,1,1,2,3,4,...,7,7,7,6,6,6,6,6,6,6
STP,8,3,7,7,7,7,7,7,7,7,...,7,7,7,8,7,7,7,7,7,7
SWZ,8,3,7,7,7,7,7,7,7,8,...,7,7,8,7,7,7,7,7,7,7
SYC,7,3,7,7,7,7,8,7,7,7,...,7,7,7,7,8,7,7,7,7,7
TCD,7,3,7,8,7,7,7,7,7,7,...,7,7,7,7,8,7,7,7,8,7
TGO,7,3,7,7,7,7,8,7,7,7,...,7,8,7,7,8,7,7,8,7,7
TUN,8,3,7,7,7,8,7,7,7,7,...,7,8,7,7,7,7,7,8,7,7
TZA,8,3,7,7,7,7,7,8,7,7,...,7,7,7,7,8,7,7,7,7,7
UGA,7,3,8,7,7,8,7,7,7,8,...,7,7,8,7,7,8,7,7,7,7
ZAF,8,3,7,7,7,8,7,7,8,7,...,8,7,7,7,7,7,7,7,7,7
ZMB,7,3,8,7,8,7,8,7,7,7,...,7,8,7,7,7,7,7,7,8,7
ZWE,7,3,7,7,7,7,7,7,7,7,...,7,7,7,8,7,8,7,7,7,7

In [70]:
wdi.columns

Index(['Country_Name', 'Country_Code', 'Year', 'Indicator_Name',
       'Indicator_Code', 'Value'],
      dtype='object')

In [74]:

missing_by_year = wdi.groupby('Year')['Value'].apply(lambda x: x.isna().mean())  

years_over_40 = missing_by_year[missing_by_year > 0.40]  
years_over_40

Series([], Name: Value, dtype: float64)

In [75]:
years_keep = list(range(2000, 2024)) 
years_keep = missing_by_year[missing_by_year < 0.50].index
wdi = wdi[wdi['Year'].isin(years_keep)].copy()

In [76]:
wdi.groupby('Year')['Value'].apply(lambda x: x.isna().mean())

Year
2000    0.127315
2002    0.122685
2003    0.127315
2004    0.127315
2005    0.118056
2006    0.127315
2007    0.125000
2008    0.120370
2009    0.118056
2010    0.106481
2011    0.104167
2012    0.108796
2013    0.115741
2014    0.106481
2015    0.097222
2016    0.113426
2017    0.113426
2018    0.094907
2019    0.115741
2020    0.120370
2021    0.094907
2022    0.115741
2023    0.127315
Name: Value, dtype: float64

In [77]:
wdi['Value'].isna().mean()

np.float64(0.11513687600644122)

In [79]:
wdi.duplicated(subset=['Country_Code','Year','Indicator_Code']).sum()

np.int64(0)

In [80]:
%pip install pycountry
import pycountry 
iso3_list = [country.alpha_3 for country in pycountry.countries]
iso3 = set(iso3_list)
len(iso3_list)

Requirement already satisfied: pycountry in d:\adc\an 2\13. workflows for data science\work_flows\venv\lib\site-packages (24.6.1)
Note: you may need to restart the kernel to use updated packages.

249

In [82]:
codes_wdi = set(wdi['Country_Code']) 
len(codes_wdi)

54

In [83]:
wdi_wide = (
    wdi
        .pivot(
            index=['Country_Code','Year'],
            columns='Indicator_Name',
            values='Value'
        )
        .reset_index()
)
wdi_wide.head(2)

Indicator_Name,Country_Code,Year,access_electricity,control_corruption,gdp_per_capita,gini_coefficient,gov_effectiveness,regulatory_quality,rule_of_law,urban_population
0,AGO,2000,24.2,-1.197514,1932.988479,51.9,-1.075034,-1.507048,-1.601502,50.087
1,AGO,2002,26.3,-1.155493,2139.872597,NaN,-1.132157,-1.294135,-1.633344,52.461

In [84]:
# ============================================================
# VALIDARE FINALĂ WDI (totul într-o singură celulă)
# ============================================================

# 1. Duplicate country-year
print("Duplicate country-year:", 
      wdi_wide.duplicated(subset=['Country_Code','Year']).sum())

# 2. Lipsuri pe coloane
print("\nProcent lipsuri pe coloană (%):")
print((wdi_wide.isna().mean() * 100).round(2))

# 3. Valori imposibile la procente (>100)
pct_cols = [c for c in wdi_wide.columns 
            if 'percent' in c or '_zs' in c or '_pct' in c]
print("\nValori >100% (indicatori procentuali):")
for col in pct_cols:
    print(col, (wdi_wide[col] > 100).sum())


# 5. Acoperire temporală (câte rânduri per an)
print("\nNumăr observații pe an:")
print(wdi_wide.groupby('Year').size())

# 6. Număr țări
print("\nNumăr țări unice:", wdi_wide['Country_Code'].nunique())

# 7. Dimensiune finală a tabelului
print("\nDimensiune finală tabel:", wdi_wide.shape)

Duplicate country-year: 0

Procent lipsuri pe coloană (%):
Indicator_Name
Country_Code           0.00
Year                   0.00
access_electricity     1.05
control_corruption     0.72
gdp_per_capita         3.14
gini_coefficient      84.70
gov_effectiveness      0.89
regulatory_quality     0.81
rule_of_law            0.81
urban_population       0.00
dtype: float64

Valori >100% (indicatori procentuali):

Număr observații pe an:
Year
2000    54
2002    54
2003    54
2004    54
2005    54
2006    54
2007    54
2008    54
2009    54
2010    54
2011    54
2012    54
2013    54
2014    54
2015    54
2016    54
2017    54
2018    54
2019    54
2020    54
2021    54
2022    54
2023    54
dtype: int64

Număr țări unice: 54

Dimensiune finală tabel: (1242, 10)

In [105]:
wdi_wide

Indicator_Name,Country_Code,Year,access_electricity,control_corruption,gdp_per_capita,gov_effectiveness,regulatory_quality,rule_of_law,urban_population
0,AGO,2000,24.2,-1.197514,1932.988479,-1.075034,-1.507048,-1.601502,50.087
1,AGO,2002,26.3,-1.155493,2139.872597,-1.132157,-1.294135,-1.633344,52.461
2,AGO,2003,27.4,-1.335463,2128.195793,-1.124224,-1.187467,-1.482856,53.645
3,AGO,2004,28.4,-1.377569,2277.866965,-1.328872,-1.226714,-1.520916,54.827
4,AGO,2005,29.4,-1.323182,2526.410579,-1.110219,-1.240036,-1.464795,56.000
...,...,...,...,...,...,...,...,...,...
1237,ZWE,2019,46.7,-1.290334,1356.838211,-1.310435,-1.486515,-1.311041,32.210
1238,ZWE,2020,52.7,-1.308788,1230.191557,-1.342368,-1.434415,-1.337362,32.242
1239,ZWE,2021,49.0,-1.277147,1311.531000,-1.290561,-1.386109,-1.282122,32.303
1240,ZWE,2022,50.1,-1.259969,1368.498418,-1.251224,-1.425967,-1.237028,32.395
1241,ZWE,2023,62.0,-1.261216,1417.557759,-1.170335,-1.338359,-1.277143,32.517

In [106]:
wdi

,Country_Name,Country_Code,Year,Indicator_Name,Indicator_Code,Value
0,Djibouti,DJI,2000,access_electricity,EG.ELC.ACCS.ZS,56.0
1,"Egypt, Arab Rep.",EGY,2000,access_electricity,EG.ELC.ACCS.ZS,97.7
2,Zimbabwe,ZWE,2000,access_electricity,EG.ELC.ACCS.ZS,33.7
3,Zambia,ZMB,2000,access_electricity,EG.ELC.ACCS.ZS,16.7
4,Tanzania,TZA,2000,access_electricity,EG.ELC.ACCS.ZS,8.7
...,...,...,...,...,...,...
10363,Burkina Faso,BFA,2023,gini_coefficient,SI.POV.GINI,NaN
10364,Botswana,BWA,2023,gini_coefficient,SI.POV.GINI,NaN
10365,Benin,BEN,2023,gini_coefficient,SI.POV.GINI,NaN
10366,Angola,AGO,2023,gini_coefficient,SI.POV.GINI,NaN
10367,Algeria,DZA,2023,gini_coefficient,SI.POV.GINI,NaN

In [100]:
# ============================================================
# VALIDARE FINALĂ WDI (totul într-o singură celulă)
# ============================================================

# 1. Duplicate country-year
print("Duplicate country-year:", 
      wdi_wide.duplicated(subset=['Country_Code','Year']).sum())

# 2. Lipsuri pe coloane
print("\nProcent lipsuri pe coloană (%):")
print((wdi_wide.isna().mean() * 100).round(2))

# 3. Valori imposibile la procente (>100)
pct_cols = [c for c in wdi_wide.columns 
            if 'percent' in c or '_zs' in c or '_pct' in c]
print("\nValori >100% (indicatori procentuali):")
for col in pct_cols:
    print(col, (wdi_wide[col] > 100).sum())


# 5. Acoperire temporală (câte rânduri per an)
print("\nNumăr observații pe an:")
print(wdi_wide.groupby('Year').size())

# 6. Număr țări
print("\nNumăr țări unice:", wdi_wide['Country_Code'].nunique())

# 7. Dimensiune finală a tabelului
print("\nDimensiune finală tabel:", wdi_wide.shape)

Duplicate country-year: 0

Procent lipsuri pe coloană (%):
Indicator_Name
Country_Code          0.00
Year                  0.00
access_electricity    1.05
control_corruption    0.72
gdp_per_capita        3.14
gov_effectiveness     0.89
regulatory_quality    0.81
rule_of_law           0.81
urban_population      0.00
dtype: float64

Valori >100% (indicatori procentuali):

Număr observații pe an:
Year
2000    54
2002    54
2003    54
2004    54
2005    54
2006    54
2007    54
2008    54
2009    54
2010    54
2011    54
2012    54
2013    54
2014    54
2015    54
2016    54
2017    54
2018    54
2019    54
2020    54
2021    54
2022    54
2023    54
dtype: int64

Număr țări unice: 54

Dimensiune finală tabel: (1242, 9)

In [102]:
wdi_wide.columns

Index(['Country_Code', 'Year', 'access_electricity', 'control_corruption',
       'gdp_per_capita', 'gov_effectiveness', 'regulatory_quality',
       'rule_of_law', 'urban_population'],
      dtype='object', name='Indicator_Name')

In [107]:
 wdi['Indicator_Name'].value_counts()

Indicator_Name
access_electricity    1242
urban_population      1242
gdp_per_capita        1242
gov_effectiveness     1242
regulatory_quality    1242
rule_of_law           1242
control_corruption    1242
gini_coefficient      1242
Name: count, dtype: int64

In [94]:
wdi_wide

Indicator_Name,Country_Code,Year,access_electricity,control_corruption,gdp_per_capita,gov_effectiveness,regulatory_quality,rule_of_law,urban_population
0,AGO,2000,24.2,-1.197514,1932.988479,-1.075034,-1.507048,-1.601502,50.087
1,AGO,2002,26.3,-1.155493,2139.872597,-1.132157,-1.294135,-1.633344,52.461
2,AGO,2003,27.4,-1.335463,2128.195793,-1.124224,-1.187467,-1.482856,53.645
3,AGO,2004,28.4,-1.377569,2277.866965,-1.328872,-1.226714,-1.520916,54.827
4,AGO,2005,29.4,-1.323182,2526.410579,-1.110219,-1.240036,-1.464795,56.000
...,...,...,...,...,...,...,...,...,...
1237,ZWE,2019,46.7,-1.290334,1356.838211,-1.310435,-1.486515,-1.311041,32.210
1238,ZWE,2020,52.7,-1.308788,1230.191557,-1.342368,-1.434415,-1.337362,32.242
1239,ZWE,2021,49.0,-1.277147,1311.531000,-1.290561,-1.386109,-1.282122,32.303
1240,ZWE,2022,50.1,-1.259969,1368.498418,-1.251224,-1.425967,-1.237028,32.395
1241,ZWE,2023,62.0,-1.261216,1417.557759,-1.170335,-1.338359,-1.277143,32.517

In [108]:
wdi

,Country_Name,Country_Code,Year,Indicator_Name,Indicator_Code,Value
0,Djibouti,DJI,2000,access_electricity,EG.ELC.ACCS.ZS,56.0
1,"Egypt, Arab Rep.",EGY,2000,access_electricity,EG.ELC.ACCS.ZS,97.7
2,Zimbabwe,ZWE,2000,access_electricity,EG.ELC.ACCS.ZS,33.7
3,Zambia,ZMB,2000,access_electricity,EG.ELC.ACCS.ZS,16.7
4,Tanzania,TZA,2000,access_electricity,EG.ELC.ACCS.ZS,8.7
...,...,...,...,...,...,...
10363,Burkina Faso,BFA,2023,gini_coefficient,SI.POV.GINI,NaN
10364,Botswana,BWA,2023,gini_coefficient,SI.POV.GINI,NaN
10365,Benin,BEN,2023,gini_coefficient,SI.POV.GINI,NaN
10366,Angola,AGO,2023,gini_coefficient,SI.POV.GINI,NaN
10367,Algeria,DZA,2023,gini_coefficient,SI.POV.GINI,NaN

In [109]:
wdi.to_csv("wdi_clean.csv")
wdi_wide.to_csv("wdi_wide.csv")

In [111]:
wdi_clear['Year'].value_counts()

Year
2000    216
2002    216
2003    216
2004    216
2005    216
2006    216
2007    216
2008    216
2009    216
2010    216
2011    216
2012    216
2013    216
2014    216
2015    216
2016    216
2017    216
2018    216
2019    216
2020    216
2021    216
2022    216
2023    216
Name: count, dtype: int64

## Conectare csv-uri "Marea Unire"

In [110]:
import pandas as pd
from sqlalchemy import create_engine
from dotenv import load_dotenv
import os

In [ ]:
NEON_URL="postgresql://dsw_writer:3dsadasf%25%40%23%40@ep-royal-scene-agnlimgp-pooler.c-2.eu-central-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

In [112]:
# create engine using sqlalchemy
engine = create_engine(os.getenv("NEON_URL"))

In [113]:
print(engine)

Engine(postgresql://dsw_writer:***@ep-royal-scene-agnlimgp-pooler.c-2.eu-central-1.aws.neon.tech/neondb?channel_binding=require&sslmode=require)

In [114]:
wdi_clean = pd.read_csv("wdi_clean.csv")
eia_clean = pd.read_csv("eia_clean.csv")

In [ ]:
wdi_clean.to_sql(
    "Team4_wdi_clean",
    engine,
    if_exists="replace",
    index=False
)

936

In [117]:
eia_clean.to_sql(
    "Team4_eia_clean",
    engine,
    if_exists="replace",
    index=False
)

193

In [118]:
print(eia_clean.columns)
print(wdi_clean.columns)

Index(['country_iso3', 'country_name', 'year', 'indicator_code',
       'indicator_name', 'indicator_label', 'unit', 'unit_name', 'value'],
      dtype='object')
Index(['Unnamed: 0', 'Country_Name', 'Country_Code', 'Year', 'Indicator_Name',
       'Indicator_Code', 'Value'],
      dtype='object')

In [119]:
cols_to_drop = [
    'indicator_label',      
    'unit',
    'unit_name'
]
 
eia_clean = eia_clean.drop(columns=cols_to_drop)

In [121]:
print(eia_clean.columns)
print(wdi_clean.columns)

Index(['country_iso3', 'country_name', 'year', 'indicator_code',
       'indicator_name', 'value'],
      dtype='object')
Index(['Unnamed: 0', 'Country_Name', 'Country_Code', 'Year', 'Indicator_Name',
       'Indicator_Code', 'Value'],
      dtype='object')

In [123]:
ordine_noua = [
    'Country_Code', 
    'Country_Name', 
    'Year',
    'Indicator_Code',
    'Indicator_Name', 
    'Value'
]

wdi_clean = wdi_clean[ordine_noua]

In [125]:
print(eia_clean.columns)
print(wdi_clean.columns)

Index(['country_iso3', 'country_name', 'year', 'indicator_code',
       'indicator_name', 'value'],
      dtype='object')
Index(['Country_Code', 'Country_Name', 'Year', 'Indicator_Code',
       'Indicator_Name', 'Value'],
      dtype='object')

In [127]:
wdi_clean

,Country_Code,Country_Name,Year,Indicator_Code,Indicator_Name,Value
0,DJI,Djibouti,2000,EG.ELC.ACCS.ZS,access_electricity,56.0
1,EGY,"Egypt, Arab Rep.",2000,EG.ELC.ACCS.ZS,access_electricity,97.7
2,ZWE,Zimbabwe,2000,EG.ELC.ACCS.ZS,access_electricity,33.7
3,ZMB,Zambia,2000,EG.ELC.ACCS.ZS,access_electricity,16.7
4,TZA,Tanzania,2000,EG.ELC.ACCS.ZS,access_electricity,8.7
...,...,...,...,...,...,...
9931,BFA,Burkina Faso,2023,SI.POV.GINI,gini_coefficient,NaN
9932,BWA,Botswana,2023,SI.POV.GINI,gini_coefficient,NaN
9933,BEN,Benin,2023,SI.POV.GINI,gini_coefficient,NaN
9934,AGO,Angola,2023,SI.POV.GINI,gini_coefficient,NaN
9935,DZA,Algeria,2023,SI.POV.GINI,gini_coefficient,NaN

In [140]:
missing = wdi_clean[wdi_clean["Country_Name"].isna()]
missing.Country_Code.value_counts()

Series([], Name: count, dtype: int64)

In [139]:
print(eia_clean.columns)
print(wdi_clean.columns)

Index(['country_iso3', 'country_name', 'year', 'indicator_code',
       'indicator_name', 'value'],
      dtype='object')
Index(['Country_Code', 'Country_Name', 'year', 'Indicator_Code',
       'Indicator_Name', 'Value'],
      dtype='object')

In [143]:
 wdi_clean['Indicator_Name'].value_counts()

Indicator_Name
access_electricity    1242
urban_population      1242
gdp_per_capita        1242
gov_effectiveness     1242
regulatory_quality    1242
rule_of_law           1242
control_corruption    1242
Name: count, dtype: int64

In [137]:
wdi_clean = wdi_clean.rename(columns={
    'Year': 'year',
})

In [136]:
(wdi_clean['Value'].isna()
        .groupby(wdi['Indicator_Code'])
        .mean()
        .sort_values())

Indicator_Code
SP.URB.TOTL.IN.ZS    0.000000
CC.EST               0.006734
RL.EST               0.007576
RQ.EST               0.007576
GE.EST               0.008418
EG.ELC.ACCS.ZS       0.009259
NY.GDP.PCAP.KD       0.031145
Name: Value, dtype: float64

In [144]:
print(eia_clean.columns)
print(wdi_clean.columns)

Index(['country_iso3', 'country_name', 'year', 'indicator_code',
       'indicator_name', 'value'],
      dtype='object')
Index(['Country_Code', 'Country_Name', 'year', 'Indicator_Code',
       'Indicator_Name', 'Value'],
      dtype='object')

In [146]:
print(eia_clean.columns)
print(wdi_clean.columns)

Index(['country_iso3', 'country_name', 'year', 'indicator_code',
       'indicator_name', 'value'],
      dtype='object')
Index(['Country_Code', 'Country_Name', 'year', 'Indicator_Code',
       'Indicator_Name', 'Value'],
      dtype='object')

In [147]:

wdi_clean = wdi_clean.rename(columns={
    'Country_Code': 'country_iso3',
    'Country_Name': 'country_name',
    'Value': 'value',
    'Indicator_Code': 'indicator_code',
    'Indicator_Name': 'indicator_name',
})

In [148]:
print(eia_clean.columns)
print(wdi_clean.columns)

Index(['country_iso3', 'country_name', 'year', 'indicator_code',
       'indicator_name', 'value'],
      dtype='object')
Index(['country_iso3', 'country_name', 'year', 'indicator_code',
       'indicator_name', 'value'],
      dtype='object')

In [153]:
# creem wdi final
wdi_final = wdi_clean[[
    "country_iso3",
    "country_name",
    "year",
    "indicator_name",
    "indicator_code",
    "value"
]].copy()
 
# creem eia final
eia_final = eia_clean[[
    "country_iso3",
    "country_name",
    "year",
    "indicator_name",
    "indicator_code",
    "value"
]].copy()
 
eia_final["value"] = pd.to_numeric(eia_final["value"], errors="coerce")

In [154]:
print(eia_final.columns)
print(wdi_final.columns)

Index(['country_iso3', 'country_name', 'year', 'indicator_name',
       'indicator_code', 'value'],
      dtype='object')
Index(['country_iso3', 'country_name', 'year', 'indicator_name',
       'indicator_code', 'value'],
      dtype='object')

In [156]:
wdi_final

,country_iso3,country_name,year,indicator_name,indicator_code,value
0,DJI,Djibouti,2000,access_electricity,EG.ELC.ACCS.ZS,56.000000
1,EGY,"Egypt, Arab Rep.",2000,access_electricity,EG.ELC.ACCS.ZS,97.700000
2,ZWE,Zimbabwe,2000,access_electricity,EG.ELC.ACCS.ZS,33.700000
3,ZMB,Zambia,2000,access_electricity,EG.ELC.ACCS.ZS,16.700000
4,TZA,Tanzania,2000,access_electricity,EG.ELC.ACCS.ZS,8.700000
...,...,...,...,...,...,...
9877,BFA,Burkina Faso,2023,control_corruption,CC.EST,-0.169616
9878,BWA,Botswana,2023,control_corruption,CC.EST,0.685792
9879,BEN,Benin,2023,control_corruption,CC.EST,-0.049579
9880,AGO,Angola,2023,control_corruption,CC.EST,-0.609920
9881,DZA,Algeria,2023,control_corruption,CC.EST,-0.589308

In [157]:
team4_all_data_long = pd.concat([wdi_final, eia_final], ignore_index = True)

In [158]:
team4_all_data_long

,country_iso3,country_name,year,indicator_name,indicator_code,value
0,DJI,Djibouti,2000,access_electricity,EG.ELC.ACCS.ZS,56.00
1,EGY,"Egypt, Arab Rep.",2000,access_electricity,EG.ELC.ACCS.ZS,97.70
2,ZWE,Zimbabwe,2000,access_electricity,EG.ELC.ACCS.ZS,33.70
3,ZMB,Zambia,2000,access_electricity,EG.ELC.ACCS.ZS,16.70
4,TZA,Tanzania,2000,access_electricity,EG.ELC.ACCS.ZS,8.70
...,...,...,...,...,...,...
73882,TZA,Tanzania,2002,population,POPU_POP,36121.30
73883,UGA,Uganda,2002,population,POPU_POP,25532.87
73884,ZAF,South Africa,2002,population,POPU_POP,48019.41
73885,ZMB,Zambia,2002,population,POPU_POP,10647.95
73886,ZWE,Zimbabwe,2002,population,POPU_POP,12087.65

In [159]:
team4_all_data_long.to_csv("all_data_long.csv", index = False)

In [160]:
wdi_final.to_csv("wdi_final.csv", index = False)

In [161]:
eia_final.to_csv("eia_final.csv", index = False)

In [ ]:
team4_all_data_long.to_sql(
    "Team4_all_data_long",
    engine,
    if_exists="replace",
    index=False
)

887

In [164]:
team4_all_data_long

,country_iso3,country_name,year,indicator_name,indicator_code,value
0,DJI,Djibouti,2000,access_electricity,EG.ELC.ACCS.ZS,56.00
1,EGY,"Egypt, Arab Rep.",2000,access_electricity,EG.ELC.ACCS.ZS,97.70
2,ZWE,Zimbabwe,2000,access_electricity,EG.ELC.ACCS.ZS,33.70
3,ZMB,Zambia,2000,access_electricity,EG.ELC.ACCS.ZS,16.70
4,TZA,Tanzania,2000,access_electricity,EG.ELC.ACCS.ZS,8.70
...,...,...,...,...,...,...
73882,TZA,Tanzania,2002,population,POPU_POP,36121.30
73883,UGA,Uganda,2002,population,POPU_POP,25532.87
73884,ZAF,South Africa,2002,population,POPU_POP,48019.41
73885,ZMB,Zambia,2002,population,POPU_POP,10647.95
73886,ZWE,Zimbabwe,2002,population,POPU_POP,12087.65