
# Curatarea datelor - EIA

In [73]:
import pandas as pd

In [76]:
eia = pd.read_csv("eia_africa_countries_raw.csv")
eia.head ()

,period,productId,productName,activityId,activityName,countryRegionId,countryRegionName,countryRegionTypeId,countryRegionTypeName,dataFlagId,dataFlagDescription,unitName,value,unit
0,2023,2,Electricity,2,Consumption,AGO,Angola,c,Country,NaN,NaN,billion kilowatthours,16.213833931,BKWH
1,2023,2,Electricity,2,Consumption,BDI,Burundi,c,Country,NaN,NaN,billion kilowatthours,.444018308,BKWH
2,2023,2,Electricity,2,Consumption,BEN,Benin,c,Country,NaN,NaN,billion kilowatthours,1.45894827,BKWH
3,2023,2,Electricity,2,Consumption,BFA,Burkina Faso,c,Country,NaN,NaN,billion kilowatthours,3.095998505,BKWH
4,2023,2,Electricity,2,Consumption,BWA,Botswana,c,Country,NaN,NaN,billion kilowatthours,3.879247776,BKWH

In [75]:
eia = pd.read_csv("eia_africa_countries_raw.csv")
eia

,period,productId,productName,activityId,activityName,countryRegionId,countryRegionName,countryRegionTypeId,countryRegionTypeName,dataFlagId,dataFlagDescription,unitName,value,unit
0,2023,2,Electricity,2,Consumption,AGO,Angola,c,Country,NaN,NaN,billion kilowatthours,16.213833931,BKWH
1,2023,2,Electricity,2,Consumption,BDI,Burundi,c,Country,NaN,NaN,billion kilowatthours,.444018308,BKWH
2,2023,2,Electricity,2,Consumption,BEN,Benin,c,Country,NaN,NaN,billion kilowatthours,1.45894827,BKWH
3,2023,2,Electricity,2,Consumption,BFA,Burkina Faso,c,Country,NaN,NaN,billion kilowatthours,3.095998505,BKWH
4,2023,2,Electricity,2,Consumption,BWA,Botswana,c,Country,NaN,NaN,billion kilowatthours,3.879247776,BKWH
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68265,2001,4702,Population,33,Population,TZA,Tanzania,c,Country,NaN,NaN,people in thousands,35198.3,THP
68266,2001,4702,Population,33,Population,UGA,Uganda,c,Country,NaN,NaN,people in thousands,24745.67,THP
68267,2001,4702,Population,33,Population,ZAF,South Africa,c,Country,NaN,NaN,people in thousands,47566.8,THP
68268,2001,4702,Population,33,Population,ZMB,Zambia,c,Country,NaN,NaN,people in thousands,10325.18,THP
68269,2001,4702,Population,33,Population,ZWE,Zimbabwe,c,Country,NaN,NaN,people in thousands,11971.9,THP

# 1) Profilare

In [77]:
print("Coloanele disponibile:\n", eia.columns,"\nPrimele 2 randuri:")
eia.head(2)

Coloanele disponibile:
 Index(['period', 'productId', 'productName', 'activityId', 'activityName',
       'countryRegionId', 'countryRegionName', 'countryRegionTypeId',
       'countryRegionTypeName', 'dataFlagId', 'dataFlagDescription',
       'unitName', 'value', 'unit'],
      dtype='object')
Primele 2 randuri:

,period,productId,productName,activityId,activityName,countryRegionId,countryRegionName,countryRegionTypeId,countryRegionTypeName,dataFlagId,dataFlagDescription,unitName,value,unit
0,2023,2,Electricity,2,Consumption,AGO,Angola,c,Country,NaN,NaN,billion kilowatthours,16.213833931,BKWH
1,2023,2,Electricity,2,Consumption,BDI,Burundi,c,Country,NaN,NaN,billion kilowatthours,.444018308,BKWH

In [78]:
print("Dimensiune dataframe:", eia.shape)
print("\nTipuri de date:")
print(eia.dtypes)

Dimensiune dataframe: (68270, 14)

Tipuri de date:
period                     int64
productId                  int64
productName               object
activityId                 int64
activityName              object
countryRegionId           object
countryRegionName         object
countryRegionTypeId       object
countryRegionTypeName     object
dataFlagId               float64
dataFlagDescription       object
unitName                  object
value                     object
unit                      object
dtype: object

In [79]:
print("\nTipuri de entități (Country vs Region):")
print(eia['countryRegionTypeName'].value_counts())

Tipuri de entități (Country vs Region):
countryRegionTypeName
Country    68270
Name: count, dtype: int64

In [80]:
eia['countryRegionTypeName'].value_counts()

countryRegionTypeName
Country    68270
Name: count, dtype: int64

In [81]:
eia['unit'].value_counts().head(20)

unit
BKWH         17354
MTOE         12386
QBTU         12386
TJ           12386
MK            7452
THP           1296
BDOLPPP       1284
MMTCD         1242
TBTUUSDPP     1242
MBTUPP        1242
Name: count, dtype: int64

Unitati multiple
- QBTU       (Quadrillion BTU)
- MTOE       (Million tonnes oil equivalent)
- TJ         (Terajoules)
- BKWH       (Billion kWh)
- MT         (Thousand metric tons)
- TST        (Thousand short tons)
- MMTCD      (Million metric tons CO2)
- BDOLPPP    (Billion dollars PPP)

In [82]:
print("\nProcent lipsuri pe coloană (%):")
print((eia.isna().mean() * 100).round(2))

Procent lipsuri pe coloană (%):
period                    0.00
productId                 0.00
productName               0.00
activityId                0.00
activityName              0.00
countryRegionId           0.00
countryRegionName         0.00
countryRegionTypeId       0.00
countryRegionTypeName     0.00
dataFlagId               82.09
dataFlagDescription      82.09
unitName                  0.00
value                     0.00
unit                      0.00
dtype: float64

In [83]:
print("\nTop 10 produse:")
print(eia['productName'].value_counts())

Top 10 produse:
productName
Electricity               19736
Primary energy             7452
Renewables                 6210
Hydroelectricity           6210
Solar                      6210
Wind                       6210
Nuclear                    6210
Energy intensity           2484
Population                 1296
Gross domestic product     1284
Natural gas                1242
Oil                        1242
Coal                       1242
CO2 emissions              1242
Name: count, dtype: int64

In [ ]:
print("\nTop 10 activități:")
print(eia['activityName'].value_counts().head(10))

Top 10 activități:
activityName
Consumption    67483
Production     61497
Imports        54874
Exports        54514
Generation     48187
Net imports    23672
Emissions      12199
Capacity       11964
Population      6359
GDP             6347
Name: count, dtype: int64

In [84]:
print(eia.productId.unique())

[   2   30   31   32   29   37  116   33   27   44 4008   47 4701 4702]

In [85]:
print("\nAni în dataset:")
print(eia['period'].unique())

Ani în dataset:
[2023 2022 2021 2020 2019 2018 2017 2016 2015 2014 2013 2012 2011 2010
 2009 2008 2007 2006 2005 2004 2003 2002 2001 2024]

### Toti indicatorii

In [86]:
eia[["productId", "productName", "activityName", "activityId"]].drop_duplicates().sort_values("productName")

       productId             productName         activityName  activityId
61964       4008           CO2 emissions            Emissions           8
19736         30                    Coal           Generation          12
0              2             Electricity          Consumption           2
54             2             Electricity              Imports           3
266            2             Electricity              Exports           4
354            2             Electricity             Capacity           7
408            2             Electricity  Distribution losses           9
462            2             Electricity           Generation          12
516            2             Electricity          Net imports          23
63260         47        Energy intensity                  GDP          34
63206         47        Energy intensity           Population          33
65690       4701  Gross domestic product                  GDP          34
42146         33        Hydroelectricity           Generation          12
42092         33        Hydroelectricity             Capacity           7
20978         31             Natural gas           Generation          12
48356         27                 Nuclear           Generation          12
48302         27                 Nuclear             Capacity           7
22220         32                     Oil           Generation          12
66974       4702              Population           Population          33
54512         44          Primary energy           Production           1
54674         44          Primary energy          Consumption           2
23516         29              Renewables           Generation          12
23462         29              Renewables             Capacity           7
35882        116                   Solar             Capacity           7
35936        116                   Solar           Generation          12
29672         37                    Wind             Capacity           7
29726         37                    Wind           Generation          12

# 2). Standardizare

In [87]:
eia_std = eia.copy()

In [88]:
eia_std = eia_std.rename(columns={
    'period': 'year',
    'countryRegionId': 'country_iso3',
    'countryRegionName': 'country_name',
    'unitName': 'unit_name'
})

In [89]:
eia_std.columns

Index(['year', 'productId', 'productName', 'activityId', 'activityName',
       'country_iso3', 'country_name', 'countryRegionTypeId',
       'countryRegionTypeName', 'dataFlagId', 'dataFlagDescription',
       'unit_name', 'value', 'unit'],
      dtype='object')

In [90]:
for col in ['productName', 'activityName', 'unit_name']:
    eia_std[col] = (
        eia_std[col]
            .astype(str)
            .str.strip()
            .str.lower()
            .str.replace(r'\s+', '_', regex=True)
    )

### Construim un nume pentru indicatori din produs si activitate - pentru nume, cod si label

#### Indicator name

In [91]:
eia_std['indicator_name'] = (
    eia_std['productName'] + '_' + eia_std['activityName']
)
eia_std.indicator_name.unique()

array(['electricity_consumption', 'electricity_imports',
       'electricity_exports', 'electricity_capacity',
       'electricity_distribution_losses', 'electricity_generation',
       'electricity_net_imports', 'coal_generation',
       'natural_gas_generation', 'oil_generation', 'renewables_capacity',
       'renewables_generation', 'wind_capacity', 'wind_generation',
       'solar_capacity', 'solar_generation', 'hydroelectricity_capacity',
       'hydroelectricity_generation', 'nuclear_capacity',
       'nuclear_generation', 'primary_energy_production',
       'primary_energy_consumption', 'co2_emissions_emissions',
       'energy_intensity_population', 'energy_intensity_gdp',
       'gross_domestic_product_gdp', 'population_population'],
      dtype=object)

In [ ]:
eia_std.loc[
    eia_std['productName'] == eia_std['activityName'],
    'indicator_name'
] = eia_std['productName']

eia_std.indicator_name.unique()

array(['electricity_consumption', 'electricity_imports',
       'electricity_exports', 'electricity_capacity',
       'electricity_distribution_losses', 'electricity_generation',
       'electricity_net_imports', 'coal_generation',
       'natural_gas_generation', 'oil_generation', 'renewables_capacity',
       'renewables_generation', 'wind_capacity', 'wind_generation',
       'solar_capacity', 'solar_generation', 'hydroelectricity_capacity',
       'hydroelectricity_generation', 'nuclear_capacity',
       'nuclear_generation', 'primary_energy_production',
       'primary_energy_consumption', 'co2_emissions_emissions',
       'energy_intensity_population', 'energy_intensity_gdp',
       'gross_domestic_product_gdp', 'population'], dtype=object)

In [92]:
len(eia_std.indicator_name.unique())

27

#### Pentru indicator code

In [93]:
eia_std['indicator_code'] = (
    eia_std['productName'].str[:4].str.upper() + "_" +
    eia_std['activityName'].str[:3].str.upper()
)
eia_std['indicator_code'].unique()

array(['ELEC_CON', 'ELEC_IMP', 'ELEC_EXP', 'ELEC_CAP', 'ELEC_DIS',
       'ELEC_GEN', 'ELEC_NET', 'COAL_GEN', 'NATU_GEN', 'OIL_GEN',
       'RENE_CAP', 'RENE_GEN', 'WIND_CAP', 'WIND_GEN', 'SOLA_CAP',
       'SOLA_GEN', 'HYDR_CAP', 'HYDR_GEN', 'NUCL_CAP', 'NUCL_GEN',
       'PRIM_PRO', 'PRIM_CON', 'CO2__EMI', 'ENER_POP', 'ENER_GDP',
       'GROS_GDP', 'POPU_POP'], dtype=object)

#### Pentru un indicator label

In [94]:
eia_std['indicator_label'] = (
    eia_std['productName'].str.replace('_', ' ').str.title()
    + " – " +
    eia_std['activityName'].str.replace('_', ' ').str.title()
)
eia_std.indicator_label.unique()

array(['Electricity – Consumption', 'Electricity – Imports',
       'Electricity – Exports', 'Electricity – Capacity',
       'Electricity – Distribution Losses', 'Electricity – Generation',
       'Electricity – Net Imports', 'Coal – Generation',
       'Natural Gas – Generation', 'Oil – Generation',
       'Renewables – Capacity', 'Renewables – Generation',
       'Wind – Capacity', 'Wind – Generation', 'Solar – Capacity',
       'Solar – Generation', 'Hydroelectricity – Capacity',
       'Hydroelectricity – Generation', 'Nuclear – Capacity',
       'Nuclear – Generation', 'Primary Energy – Production',
       'Primary Energy – Consumption', 'Co2 Emissions – Emissions',
       'Energy Intensity – Population', 'Energy Intensity – Gdp',
       'Gross Domestic Product – Gdp', 'Population – Population'],
      dtype=object)

#### Country type

In [95]:
eia_std['countryRegionTypeName'] = eia_std['countryRegionTypeName'].str.lower()

In [96]:
eia_std['countryRegionTypeName'].unique()

array(['country'], dtype=object)

# PASUL 3: LIPSURI (Missing Analysis)

In [97]:
print("Procent lipsuri pe coloană (%):")
print((eia_std.isna().mean() * 100).round(2))

Procent lipsuri pe coloană (%):
year                      0.00
productId                 0.00
productName               0.00
activityId                0.00
activityName              0.00
country_iso3              0.00
country_name              0.00
countryRegionTypeId       0.00
countryRegionTypeName     0.00
dataFlagId               82.09
dataFlagDescription      82.09
unit_name                 0.00
value                     0.00
unit                      0.00
indicator_name            0.00
indicator_code            0.00
indicator_label           0.00
dtype: float64

In [98]:
print("Numar de valori lipsa pentru coloana value")
print(eia_std.value.isna().sum())

Numar de valori lipsa pentru coloana value
0

In [99]:
missing_by_year = (
    eia_std.groupby('year')['value']
           .apply(lambda x: x.isna().mean())
)
print("\nLipsuri pe an (%):")
print((missing_by_year * 100).round(2).head(20))

Lipsuri pe an (%):
year
2001    0.0
2002    0.0
2003    0.0
2004    0.0
2005    0.0
2006    0.0
2007    0.0
2008    0.0
2009    0.0
2010    0.0
2011    0.0
2012    0.0
2013    0.0
2014    0.0
2015    0.0
2016    0.0
2017    0.0
2018    0.0
2019    0.0
2020    0.0
Name: value, dtype: float64

In [100]:
eia_country = eia_std[eia_std["countryRegionTypeName"] == "country"].copy()
eia_region = eia_std[eia_std["countryRegionTypeName"] == "region"].copy()

In [101]:
cols_to_drop = [
    'productId',
    'activityId',
    'countryRegionTypeId',
    'countryRegionTypeName',
    'dataFlagId',
    'dataFlagDescription',
    'productName',        
    'activityName'       
]
 
eia_clean = eia_country.drop(columns=cols_to_drop)

In [102]:
eia_clean = eia_clean.dropna(how='all')
 
eia_clean = eia_clean.drop_duplicates(keep='first')

In [103]:
eia_clean= eia_clean[[
    'country_iso3',
    'country_name',
    'year',
    'indicator_code',
    'indicator_name',
    'indicator_label',
    'unit',
    'unit_name',
    'value'
]].copy()

In [112]:
An = 2024
eia_clean = eia_clean[eia_clean['year'] != An].copy()

In [113]:
eia_clean['year'].value_counts()

year
2022    2970
2021    2970
2019    2970
2020    2970
2018    2970
2017    2970
2013    2970
2016    2970
2015    2970
2014    2970
2009    2969
2012    2969
2011    2969
2010    2969
2005    2969
2008    2969
2007    2969
2006    2969
2003    2969
2004    2969
2002    2969
2023    2834
Name: count, dtype: int64

In [ ]:
eia_clean.to_csv("eia_clean.csv", index = False)

In [115]:
eia_clean.head(2)

,country_iso3,country_name,year,indicator_code,indicator_name,indicator_label,unit,unit_name,value
0,AGO,Angola,2023,ELEC_CON,electricity_consumption,Electricity – Consumption,BKWH,billion_kilowatthours,16.213833931
1,BDI,Burundi,2023,ELEC_CON,electricity_consumption,Electricity – Consumption,BKWH,billion_kilowatthours,.444018308

# CURATARE DATE WDI

In [1]:
import pandas as pd
import numpy as np

In [4]:
wdi = pd.read_csv("wdi_africa_countries_raw.csv")
print(wdi.shape)
print(wdi.columns)
wdi.head(3)

(6480, 6)
Index(['Country_Name', 'Country_Code', 'Year', 'Indicator_Name',
       'Indicator_Code', 'Value'],
      dtype='object')

,Country_Name,Country_Code,Year,Indicator_Name,Indicator_Code,Value
0,Djibouti,DJI,2000,gov_effectiveness,GE.EST,-0.904506
1,"Egypt, Arab Rep.",EGY,2000,gov_effectiveness,GE.EST,-0.174759
2,Zimbabwe,ZWE,2000,gov_effectiveness,GE.EST,-0.757243

In [6]:
wdi.shape

(6480, 6)

In [7]:
wdi.columns

Index(['Country_Name', 'Country_Code', 'Year', 'Indicator_Name',
       'Indicator_Code', 'Value'],
      dtype='object')

In [8]:
wdi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6480 entries, 0 to 6479
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country_Name    6480 non-null   object
 1   Country_Code    6480 non-null   object
 2   Year            6480 non-null   int64
 3   Indicator_Name  6480 non-null   object
 4   Indicator_Code  6480 non-null   object
 5   Value           5123 non-null   float64
dtypes: float64(1), int64(1), object(4)
memory usage: 303.9+ KB

In [9]:
wdi.dtypes

Country_Name       object
Country_Code       object
Year                int64
Indicator_Name     object
Indicator_Code     object
Value             float64
dtype: object

In [13]:
wdi['Value'].apply(type).value_counts(). head()

Value
<class 'float'>    6480
Name: count, dtype: int64

In [14]:
wdi.describe()

              Year        Value
count  6480.000000  5123.000000
mean   2011.500000     0.900414
std       6.922721     8.291244
min    2000.000000    -2.590877
25%    2005.750000    -1.140497
50%    2011.500000    -0.713253
75%    2017.250000    -0.269060
max    2023.000000    64.800000

In [ ]:
wdi.describe(include='object')

       Country_Name Country_Code     Indicator_Name Indicator_Code
count          6480         6480               6480           6480
unique           54           54                  5              5
top        Djibouti          DJI  gov_effectiveness         GE.EST
freq            120          120               1296           1296

In [16]:
wdi.isna().mean().sort_values(ascending=False)

Value             0.209414
Country_Name      0.000000
Country_Code      0.000000
Year              0.000000
Indicator_Name    0.000000
Indicator_Code    0.000000
dtype: float64

In [18]:
wdi.columns

Index(['Country_Name', 'Country_Code', 'Year', 'Indicator_Name',
       'Indicator_Code', 'Value'],
      dtype='object')

In [20]:
pd.to_datetime(wdi['Year'], errors='coerce').isna().sum()

np.int64(0)

In [21]:
wdi['Indicator_Name'].value_counts()

Indicator_Name
gov_effectiveness     1296
regulatory_quality    1296
rule_of_law           1296
control_corruption    1296
gini_coefficient      1296
Name: count, dtype: int64

In [23]:
print(wdi.columns)
wdi.head(3)

Index(['Country_Name', 'Country_Code', 'Year', 'Indicator_Name',
       'Indicator_Code', 'Value'],
      dtype='object')

,Country_Name,Country_Code,Year,Indicator_Name,Indicator_Code,Value
0,Djibouti,DJI,2000,gov_effectiveness,GE.EST,-0.904506
1,"Egypt, Arab Rep.",EGY,2000,gov_effectiveness,GE.EST,-0.174759
2,Zimbabwe,ZWE,2000,gov_effectiveness,GE.EST,-0.757243

In [25]:
wdi['Value'] = pd.to_numeric(wdi['Value'], errors='coerce')

In [ ]:
wdi['Year'] = wdi['Year'].astype(int)

In [28]:
wdi['Indicator_Name'].str.strip().str.lower().str.replace(' ', '_').str.replace(r'[^0-9a-zA-Z_]', '', regex=True)

0       gov_effectiveness
1       gov_effectiveness
2       gov_effectiveness
3       gov_effectiveness
4       gov_effectiveness
              ...
6475     gini_coefficient
6476     gini_coefficient
6477     gini_coefficient
6478     gini_coefficient
6479     gini_coefficient
Name: Indicator_Name, Length: 6480, dtype: object

In [33]:
wdi = wdi.rename(columns={
    'country_iso3': 'Country_Iso3',
})

In [34]:
wdi.head(3)

,Country_Name,Country_Iso3,Year,Indicator_Name,Indicator_Code,Value
0,Djibouti,DJI,2000,gov_effectiveness,GE.EST,-0.904506
1,"Egypt, Arab Rep.",EGY,2000,gov_effectiveness,GE.EST,-0.174759
2,Zimbabwe,ZWE,2000,gov_effectiveness,GE.EST,-0.757243

In [36]:
wdi.isna().sum()

Country_Name         0
Country_Iso3         0
Year                 0
Indicator_Name       0
Indicator_Code       0
Value             1357
dtype: int64

In [37]:
wdi.isna().mean().sort_values(ascending=False)

Value             0.209414
Country_Name      0.000000
Country_Iso3      0.000000
Year              0.000000
Indicator_Name    0.000000
Indicator_Code    0.000000
dtype: float64

In [41]:
(wdi['Value'].isna()
        .groupby(wdi['Indicator_Code'])
        .mean()
        .sort_values())

Indicator_Code
CC.EST         0.048611
RL.EST         0.049383
RQ.EST         0.049383
GE.EST         0.050154
SI.POV.GINI    0.849537
Name: Value, dtype: float64

In [42]:
wdi.groupby('Country_Iso3')['Value'].apply(lambda x: x.isna().mean()).sort_values().head()

Country_Iso3
EGY    0.166667
RWA    0.183333
NGA    0.183333
ZMB    0.183333
UGA    0.183333
Name: Value, dtype: float64

In [43]:
wdi.groupby('Year')['Value'].apply(lambda x: x.isna().mean()).sort_values(ascending=False).head(10)

Year
2001    0.981481
2023    0.196296
2007    0.192593
2004    0.188889
2006    0.188889
2003    0.188889
2008    0.188889
2000    0.185185
2020    0.185185
2009    0.185185
Name: Value, dtype: float64

In [44]:
wdi.pivot_table(values='Value', index='Country_Iso3', columns='Year', aggfunc='count')

Year,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
Country_Iso3,,,,,,,,,,,,,,,,,,,,,
AGO,5,0,4,4,4,4,4,4,5,4,...,4,4,4,4,5,4,4,4,4,4
BDI,4,0,4,4,4,4,5,4,4,4,...,4,4,4,4,4,4,5,4,4,4
BEN,4,0,4,5,4,4,4,4,4,4,...,4,5,4,4,5,4,4,5,4,4
BFA,4,0,4,5,4,4,4,4,4,5,...,5,4,4,4,5,4,4,5,4,4
BWA,4,0,5,4,4,4,4,4,4,5,...,4,5,4,4,4,4,4,4,4,4
CAF,4,0,4,4,4,4,4,4,5,4,...,4,4,4,4,4,4,4,5,4,4
CIV,4,0,5,4,4,4,4,4,5,4,...,4,5,4,4,5,4,4,5,4,4
CMR,4,1,4,4,4,4,4,5,4,4,...,5,4,4,4,4,4,4,5,4,4
COD,4,0,4,4,5,4,4,4,4,4,...,4,4,4,4,4,4,5,4,4,4
COG,4,0,4,4,4,5,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
COM,4,0,4,4,5,4,4,4,4,4,...,5,4,4,4,4,4,4,4,4,4
CPV,3,1,4,4,4,4,4,5,4,4,...,4,5,4,4,4,4,4,4,4,4
DJI,4,0,5,4,4,4,4,4,4,4,...,4,4,4,5,4,4,4,4,4,4
DZA,4,0,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
EGY,4,0,4,4,5,4,4,4,5,4,...,4,5,4,5,4,5,4,5,4,4
ERI,4,0,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
ETH,4,0,4,4,5,4,4,4,4,4,...,4,5,4,4,4,4,4,5,4,4
GAB,4,0,4,4,4,5,4,4,4,4,...,4,4,4,5,4,4,4,4,4,4
GHA,4,0,4,4,4,5,4,4,4,4,...,4,4,5,4,4,4,4,4,4,4
GIN,4,0,5,4,4,4,4,5,4,4,...,4,4,4,4,5,4,4,4,4,4
GMB,4,0,4,5,4,4,4,4,4,4,...,4,5,4,4,4,4,5,4,4,4
GNB,4,0,5,4,4,4,4,4,4,4,...,4,4,4,4,5,4,4,5,4,4
GNQ,4,0,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,5,4
KEN,4,0,4,4,4,5,4,4,4,4,...,4,5,4,4,4,4,5,5,5,4
LBR,4,0,4,4,4,4,4,5,4,4,...,5,4,5,4,4,4,4,4,4,4
LBY,4,0,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
LSO,4,0,5,4,4,4,4,4,4,4,...,4,4,4,5,4,4,4,4,4,4
MAR,5,0,4,4,4,4,5,4,4,4,...,4,4,4,4,4,4,4,4,4,4
MDG,4,1,4,4,4,5,4,4,4,4,...,4,4,4,4,4,4,4,5,4,4
MLI,4,1,4,4,4,4,5,4,4,5,...,4,4,4,4,5,4,4,5,4,4
MOZ,4,0,5,4,4,4,4,4,5,4,...,5,4,4,4,4,5,4,4,5,4
MRT,5,0,4,4,5,4,4,4,5,4,...,5,4,4,4,4,5,4,4,4,4
MUS,4,0,4,4,4,4,5,4,4,4,...,4,4,4,5,4,4,4,4,4,4
MWI,4,0,4,4,5,4,4,4,4,4,...,4,4,5,4,4,5,4,4,4,4
NAM,4,0,4,5,4,4,4,4,4,5,...,4,5,4,4,4,4,4,4,4,4
NER,4,0,4,4,4,5,4,5,4,4,...,5,4,4,4,5,4,4,5,4,4
NGA,4,0,4,5,4,4,4,4,4,4,...,4,5,4,4,5,4,4,4,5,4
RWA,5,0,4,4,4,5,4,4,4,4,...,4,4,5,4,4,4,4,4,4,5
SDN,4,0,4,4,4,4,4,4,4,5,...,5,4,4,4,4,4,4,4,4,4
SEN,4,1,4,4,4,5,4,4,4,4,...,4,4,4,4,5,4,4,5,4,4
SLE,4,0,4,5,4,4,4,4,4,4,...,4,4,4,4,5,4,4,4,4,4
SOM,4,0,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
SSD,0,0,0,0,0,0,0,0,0,1,...,4,4,5,4,4,4,4,4,4,4
STP,5,0,4,4,4,4,4,4,4,4,...,4,4,4,5,4,4,4,4,4,4
SWZ,5,0,4,4,4,4,4,4,4,5,...,4,4,5,4,4,4,4,4,4,4
SYC,4,0,4,4,4,4,5,4,4,4,...,4,4,4,4,5,4,4,4,4,4
TCD,4,0,4,5,4,4,4,4,4,4,...,4,4,4,4,5,4,4,4,5,4
TGO,4,0,4,4,4,4,5,4,4,4,...,4,5,4,4,5,4,4,5,4,4
TUN,5,0,4,4,4,5,4,4,4,4,...,4,5,4,4,4,4,4,5,4,4
TZA,5,0,4,4,4,4,4,5,4,4,...,4,4,4,4,5,4,4,4,4,4
UGA,4,0,5,4,4,5,4,4,4,5,...,4,4,5,4,4,5,4,4,4,4
ZAF,5,0,4,4,4,5,4,4,5,4,...,5,4,4,4,4,4,4,4,4,4
ZMB,4,0,5,4,5,4,5,4,4,4,...,4,5,4,4,4,4,4,4,5,4
ZWE,4,0,4,4,4,4,4,4,4,4,...,4,4,4,5,4,5,4,4,4,4

In [45]:
wdi.columns

Index(['Country_Name', 'Country_Iso3', 'Year', 'Indicator_Name',
       'Indicator_Code', 'Value'],
      dtype='object')

In [ ]:

missing_by_year = wdi.groupby('Year')['Value'].apply(lambda x: x.isna().mean())  

years_over_40 = missing_by_year[missing_by_year > 0.40]  
years_over_40

Year
2001    0.981481
Name: Value, dtype: float64

In [ ]:
years_keep = list(range(2000, 2024)) 
years_keep = missing_by_year[missing_by_year < 0.50].index
wdi = wdi[wdi['Year'].isin(years_keep)].copy()

,Country_Name,Country_Iso3,Year,Indicator_Name,Indicator_Code,Value
0,Djibouti,DJI,2000,gov_effectiveness,GE.EST,-0.904506
1,"Egypt, Arab Rep.",EGY,2000,gov_effectiveness,GE.EST,-0.174759
2,Zimbabwe,ZWE,2000,gov_effectiveness,GE.EST,-0.757243
3,Zambia,ZMB,2000,gov_effectiveness,GE.EST,-1.078764
4,Tanzania,TZA,2000,gov_effectiveness,GE.EST,-0.556627
...,...,...,...,...,...,...
6475,Burkina Faso,BFA,2023,gini_coefficient,SI.POV.GINI,NaN
6476,Botswana,BWA,2023,gini_coefficient,SI.POV.GINI,NaN
6477,Benin,BEN,2023,gini_coefficient,SI.POV.GINI,NaN
6478,Angola,AGO,2023,gini_coefficient,SI.POV.GINI,NaN
6479,Algeria,DZA,2023,gini_coefficient,SI.POV.GINI,NaN

In [50]:
wdi.groupby('Year')['Value'].apply(lambda x: x.isna().mean())

Year
2000    0.185185
2002    0.181481
2003    0.188889
2004    0.188889
2005    0.174074
2006    0.188889
2007    0.192593
2008    0.188889
2009    0.185185
2010    0.166667
2011    0.162963
2012    0.166667
2013    0.181481
2014    0.166667
2015    0.151852
2016    0.174074
2017    0.174074
2018    0.144444
2019    0.177778
2020    0.185185
2021    0.144444
2022    0.177778
2023    0.196296
Name: Value, dtype: float64

In [51]:
wdi['Value'].isna().mean()

np.float64(0.1758454106280193)

In [52]:
wdi.duplicated(subset=['Country_Iso3','Year','Indicator_Code']).sum()

np.int64(0)

In [ ]:
%pip install pycountry
import pycountry 
iso3_list = [country.alpha_3 for country in pycountry.countries]
iso3 = set(iso3_list)
len(iso3_list)

Collecting pycountry
  Downloading pycountry-24.6.1-py3-none-any.whl.metadata (12 kB)
Downloading pycountry-24.6.1-py3-none-any.whl (6.3 MB)
   ---------------------------------------- 0.0/6.3 MB ? eta -:--:--
   ---------------------------------------- 0.0/6.3 MB ? eta -:--:--
   ------ --------------------------------- 1.0/6.3 MB 4.8 MB/s eta 0:00:02
   -------------- ------------------------- 2.4/6.3 MB 5.4 MB/s eta 0:00:01
   ----------------------- ---------------- 3.7/6.3 MB 5.6 MB/s eta 0:00:01
   ------------------------------- -------- 5.0/6.3 MB 5.9 MB/s eta 0:00:01
   ---------------------------------------  6.3/6.3 MB 6.2 MB/s eta 0:00:01
   ---------------------------------------- 6.3/6.3 MB 5.8 MB/s  0:00:01
Installing collected packages: pycountry
Successfully installed pycountry-24.6.1
Note: you may need to restart the kernel to use updated packages.

249

In [ ]:
codes_wdi = set(wdi['Country_Iso3']) 
len(codes_wdi)

54

In [ ]:
wdi_wide = (
    wdi
        .pivot(
            index=['Country_Iso3','Year'],
            columns='Indicator_Name',
            values='Value'
        )
        .reset_index()
)
wdi_wide.head(2)

Indicator_Name,Country_Iso3,Year,control_corruption,gini_coefficient,gov_effectiveness,regulatory_quality,rule_of_law
0,AGO,2000,-1.197514,51.9,-1.075034,-1.507048,-1.601502
1,AGO,2002,-1.155493,NaN,-1.132157,-1.294135,-1.633344

In [57]:
# ============================================================
# VALIDARE FINALĂ WDI (totul într-o singură celulă)
# ============================================================

# 1. Duplicate country-year
print("Duplicate country-year:", 
      wdi_wide.duplicated(subset=['Country_Iso3','Year']).sum())

# 2. Lipsuri pe coloane
print("\nProcent lipsuri pe coloană (%):")
print((wdi_wide.isna().mean() * 100).round(2))

# 3. Valori imposibile la procente (>100)
pct_cols = [c for c in wdi_wide.columns 
            if 'percent' in c or '_zs' in c or '_pct' in c]
print("\nValori >100% (indicatori procentuali):")
for col in pct_cols:
    print(col, (wdi_wide[col] > 100).sum())


# 5. Acoperire temporală (câte rânduri per an)
print("\nNumăr observații pe an:")
print(wdi_wide.groupby('Year').size())

# 6. Număr țări
print("\nNumăr țări unice:", wdi_wide['Country_Iso3'].nunique())

# 7. Dimensiune finală a tabelului
print("\nDimensiune finală tabel:", wdi_wide.shape)

Duplicate country-year: 0

Procent lipsuri pe coloană (%):
Indicator_Name
Country_Iso3           0.00
Year                   0.00
control_corruption     0.72
gini_coefficient      84.70
gov_effectiveness      0.89
regulatory_quality     0.81
rule_of_law            0.81
dtype: float64

Valori >100% (indicatori procentuali):

Număr observații pe an:
Year
2000    54
2002    54
2003    54
2004    54
2005    54
2006    54
2007    54
2008    54
2009    54
2010    54
2011    54
2012    54
2013    54
2014    54
2015    54
2016    54
2017    54
2018    54
2019    54
2020    54
2021    54
2022    54
2023    54
dtype: int64

Număr țări unice: 54

Dimensiune finală tabel: (1242, 7)

In [58]:
cols_to_drop = [
    'gini_coefficient',      
]
 
wdi_wide = wdi_wide.drop(columns=cols_to_drop)

In [59]:
wdi_wide

Indicator_Name,Country_Iso3,Year,control_corruption,gov_effectiveness,regulatory_quality,rule_of_law
0,AGO,2000,-1.197514,-1.075034,-1.507048,-1.601502
1,AGO,2002,-1.155493,-1.132157,-1.294135,-1.633344
2,AGO,2003,-1.335463,-1.124224,-1.187467,-1.482856
3,AGO,2004,-1.377569,-1.328872,-1.226714,-1.520916
4,AGO,2005,-1.323182,-1.110219,-1.240036,-1.464795
...,...,...,...,...,...,...
1237,ZWE,2019,-1.290334,-1.310435,-1.486515,-1.311041
1238,ZWE,2020,-1.308788,-1.342368,-1.434415,-1.337362
1239,ZWE,2021,-1.277147,-1.290561,-1.386109,-1.282122
1240,ZWE,2022,-1.259969,-1.251224,-1.425967,-1.237028
1241,ZWE,2023,-1.261216,-1.170335,-1.338359,-1.277143

In [60]:
# ============================================================
# VALIDARE FINALĂ WDI (totul într-o singură celulă)
# ============================================================

# 1. Duplicate country-year
print("Duplicate country-year:", 
      wdi_wide.duplicated(subset=['Country_Iso3','Year']).sum())

# 2. Lipsuri pe coloane
print("\nProcent lipsuri pe coloană (%):")
print((wdi_wide.isna().mean() * 100).round(2))

# 3. Valori imposibile la procente (>100)
pct_cols = [c for c in wdi_wide.columns 
            if 'percent' in c or '_zs' in c or '_pct' in c]
print("\nValori >100% (indicatori procentuali):")
for col in pct_cols:
    print(col, (wdi_wide[col] > 100).sum())


# 5. Acoperire temporală (câte rânduri per an)
print("\nNumăr observații pe an:")
print(wdi_wide.groupby('Year').size())

# 6. Număr țări
print("\nNumăr țări unice:", wdi_wide['Country_Iso3'].nunique())

# 7. Dimensiune finală a tabelului
print("\nDimensiune finală tabel:", wdi_wide.shape)

Duplicate country-year: 0

Procent lipsuri pe coloană (%):
Indicator_Name
Country_Iso3          0.00
Year                  0.00
control_corruption    0.72
gov_effectiveness     0.89
regulatory_quality    0.81
rule_of_law           0.81
dtype: float64

Valori >100% (indicatori procentuali):

Număr observații pe an:
Year
2000    54
2002    54
2003    54
2004    54
2005    54
2006    54
2007    54
2008    54
2009    54
2010    54
2011    54
2012    54
2013    54
2014    54
2015    54
2016    54
2017    54
2018    54
2019    54
2020    54
2021    54
2022    54
2023    54
dtype: int64

Număr țări unice: 54

Dimensiune finală tabel: (1242, 6)

In [ ]:
indicator_de_sters = 'gini_coefficient'

wdi_clear = wdi[wdi['Indicator_Name'] != indicator_de_sters].copy()

In [62]:
# ============================================================
# VALIDARE FINALĂ WDI (totul într-o singură celulă)
# ============================================================

# 1. Duplicate country-year
print("Duplicate country-year:", 
      wdi_clear.duplicated(subset=['Country_Iso3','Year']).sum())

# 2. Lipsuri pe coloane
print("\nProcent lipsuri pe coloană (%):")
print((wdi_clear.isna().mean() * 100).round(2))

# 3. Valori imposibile la procente (>100)
pct_cols = [c for c in wdi_clear.columns 
            if 'percent' in c or '_zs' in c or '_pct' in c]
print("\nValori >100% (indicatori procentuali):")
for col in pct_cols:
    print(col, (wdi_clear[col] > 100).sum())


# 5. Acoperire temporală (câte rânduri per an)
print("\nNumăr observații pe an:")
print(wdi_clear.groupby('Year').size())

# 6. Număr țări
print("\nNumăr țări unice:", wdi_clear['Country_Iso3'].nunique())

# 7. Dimensiune finală a tabelului
print("\nDimensiune finală tabel:", wdi_clear.shape)

Duplicate country-year: 3726

Procent lipsuri pe coloană (%):
Country_Name      0.00
Country_Iso3      0.00
Year              0.00
Indicator_Name    0.00
Indicator_Code    0.00
Value             0.81
dtype: float64

Valori >100% (indicatori procentuali):

Număr observații pe an:
Year
2000    216
2002    216
2003    216
2004    216
2005    216
2006    216
2007    216
2008    216
2009    216
2010    216
2011    216
2012    216
2013    216
2014    216
2015    216
2016    216
2017    216
2018    216
2019    216
2020    216
2021    216
2022    216
2023    216
dtype: int64

Număr țări unice: 54

Dimensiune finală tabel: (4968, 6)

In [67]:
 wdi_clear['Indicator_Name'].value_counts()

Indicator_Name
gov_effectiveness     1242
regulatory_quality    1242
rule_of_law           1242
control_corruption    1242
Name: count, dtype: int64

In [68]:
wdi_wide

Indicator_Name,Country_Iso3,Year,control_corruption,gov_effectiveness,regulatory_quality,rule_of_law
0,AGO,2000,-1.197514,-1.075034,-1.507048,-1.601502
1,AGO,2002,-1.155493,-1.132157,-1.294135,-1.633344
2,AGO,2003,-1.335463,-1.124224,-1.187467,-1.482856
3,AGO,2004,-1.377569,-1.328872,-1.226714,-1.520916
4,AGO,2005,-1.323182,-1.110219,-1.240036,-1.464795
...,...,...,...,...,...,...
1237,ZWE,2019,-1.290334,-1.310435,-1.486515,-1.311041
1238,ZWE,2020,-1.308788,-1.342368,-1.434415,-1.337362
1239,ZWE,2021,-1.277147,-1.290561,-1.386109,-1.282122
1240,ZWE,2022,-1.259969,-1.251224,-1.425967,-1.237028
1241,ZWE,2023,-1.261216,-1.170335,-1.338359,-1.277143

In [69]:
wdi_clear

,Country_Name,Country_Iso3,Year,Indicator_Name,Indicator_Code,Value
0,Djibouti,DJI,2000,gov_effectiveness,GE.EST,-0.904506
1,"Egypt, Arab Rep.",EGY,2000,gov_effectiveness,GE.EST,-0.174759
2,Zimbabwe,ZWE,2000,gov_effectiveness,GE.EST,-0.757243
3,Zambia,ZMB,2000,gov_effectiveness,GE.EST,-1.078764
4,Tanzania,TZA,2000,gov_effectiveness,GE.EST,-0.556627
...,...,...,...,...,...,...
6421,Burkina Faso,BFA,2023,control_corruption,CC.EST,-0.169616
6422,Botswana,BWA,2023,control_corruption,CC.EST,0.685792
6423,Benin,BEN,2023,control_corruption,CC.EST,-0.049579
6424,Angola,AGO,2023,control_corruption,CC.EST,-0.609920
6425,Algeria,DZA,2023,control_corruption,CC.EST,-0.589308

In [72]:
wdi_clear.to_csv("wdi_clean.csv")
wdi_wide.to_csv("wdi_wide.csv")

In [111]:
wdi_clear['Year'].value_counts()

Year
2000    216
2002    216
2003    216
2004    216
2005    216
2006    216
2007    216
2008    216
2009    216
2010    216
2011    216
2012    216
2013    216
2014    216
2015    216
2016    216
2017    216
2018    216
2019    216
2020    216
2021    216
2022    216
2023    216
Name: count, dtype: int64

## Conectare csv-uri "Marea Unire"

In [5]:
import pandas as pd
from sqlalchemy import create_engine
from dotenv import load_dotenv
import os

In [32]:
NEON_URL="postgresql://dsw_writer:3dsadasf%25%40%23%40@ep-royal-scene-agnlimgp-pooler.c-2.eu-central-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

In [33]:
# create engine using sqlalchemy
engine = create_engine(os.getenv("NEON_URL"))

In [123]:
print(engine)

Engine(postgresql://dsw_writer:***@ep-royal-scene-agnlimgp-pooler.c-2.eu-central-1.aws.neon.tech/neondb?channel_binding=require&sslmode=require)

In [10]:
wdi_clean = pd.read_csv("wdi_clean.csv")
eia_clean = pd.read_csv("eia_clean.csv")

In [134]:
wdi_clear.to_sql(
    "Team4_wdi_clean",
    engine,
    if_exists="replace",
    index=False
)

968

In [11]:
print(eia_clean.columns)
print(wdi_clean.columns)

Index(['country_iso3', 'country_name', 'year', 'indicator_code',
       'indicator_name', 'indicator_label', 'unit', 'unit_name', 'value'],
      dtype='object')
Index(['Unnamed: 0', 'Country_Name', 'Country_Iso3', 'Year', 'Indicator_Name',
       'Indicator_Code', 'Value'],
      dtype='object')

In [17]:
cols_to_drop = [
    'indicator_label',      
    'unit',
    'unit_name'
]
 
eia_clean = eia_clean.drop(columns=cols_to_drop)

In [138]:
print(eia_clean.columns)
print(wdi_clear.columns)

Index(['country_iso3', 'country_name', 'year', 'indicator_code',
       'indicator_name', 'value'],
      dtype='object')
Index(['Country_Name', 'Country_Iso3', 'Year', 'Indicator_Name',
       'Indicator_Code', 'Value'],
      dtype='object')

In [15]:
ordine_noua = [
    'Country_Iso3', 
    'Country_Name', 
    'Year',
    'Indicator_Code',
    'Indicator_Name', 
    'Value'
]

# Aplicați ordinea pe DataFrame
wdi_clean = wdi_clean[ordine_noua]

In [ ]:
print(eia_clean.columns)
print(wdi_clean.columns)

Index(['country_iso3', 'country_name', 'year', 'indicator_code',
       'indicator_name', 'value'],
      dtype='object')
Index(['Country_Iso3', 'Country_Name', 'Year', 'Indicator_Code',
       'Indicator_Name', 'Value'],
      dtype='object')

In [14]:
missing = wdi_clean[wdi_clean["Country_Name"].isna()]
missing.Country_Iso3.value_counts()

Series([], Name: count, dtype: int64)

In [22]:
print(eia_clean.columns)
print(wdi_clean.columns)

Index(['country_iso3', 'country_name', 'year', 'indicator_code',
       'indicator_name', 'value'],
      dtype='object')
Index(['country_iso3', 'country_name', 'year', 'indicator_code',
       'indicator_name', 'value'],
      dtype='object')

In [21]:
wdi_clean = wdi_clean.rename(columns={
    'Year': 'year',
})

In [26]:
# creem wdi final
wdi_final = wdi_clean[[
    "country_iso3",
    "country_name",
    "year",
    "indicator_name",
    "indicator_code",
    "value"
]].copy()
 
# creem eia final
eia_final = eia_clean[[
    "country_iso3",
    "country_name",
    "year",
    "indicator_name",
    "indicator_code",
    "value"
]].copy()
 
eia_final["value"] = pd.to_numeric(eia_final["value"], errors="coerce")

In [28]:
all_data_long = pd.concat([wdi_final, eia_final], ignore_index = True)

In [29]:
all_data_long

,country_iso3,country_name,year,indicator_name,indicator_code,value
0,DJI,Djibouti,2000,gov_effectiveness,GE.EST,-0.904506
1,EGY,"Egypt, Arab Rep.",2000,gov_effectiveness,GE.EST,-0.174759
2,ZWE,Zimbabwe,2000,gov_effectiveness,GE.EST,-0.757243
3,ZMB,Zambia,2000,gov_effectiveness,GE.EST,-1.078764
4,TZA,Tanzania,2000,gov_effectiveness,GE.EST,-0.556627
...,...,...,...,...,...,...
70156,TZA,Tanzania,2002,population_population,POPU_POP,36121.300000
70157,UGA,Uganda,2002,population_population,POPU_POP,25532.870000
70158,ZAF,South Africa,2002,population_population,POPU_POP,48019.410000
70159,ZMB,Zambia,2002,population_population,POPU_POP,10647.950000
70160,ZWE,Zimbabwe,2002,population_population,POPU_POP,12087.650000

In [30]:
all_data_long.to_csv("all_data_long.csv", index = False)

In [36]:
wdi_final.to_csv("wdi_final.csv", index = False)

In [37]:
eia_final.to_csv("eia_final.csv", index = False)

In [34]:
all_data_long.to_sql(
    "Team4_all_data_long",
    engine,
    if_exists="replace",
    index=False
)

161

In [35]:
all_data_long

,country_iso3,country_name,year,indicator_name,indicator_code,value
0,DJI,Djibouti,2000,gov_effectiveness,GE.EST,-0.904506
1,EGY,"Egypt, Arab Rep.",2000,gov_effectiveness,GE.EST,-0.174759
2,ZWE,Zimbabwe,2000,gov_effectiveness,GE.EST,-0.757243
3,ZMB,Zambia,2000,gov_effectiveness,GE.EST,-1.078764
4,TZA,Tanzania,2000,gov_effectiveness,GE.EST,-0.556627
...,...,...,...,...,...,...
70156,TZA,Tanzania,2002,population_population,POPU_POP,36121.300000
70157,UGA,Uganda,2002,population_population,POPU_POP,25532.870000
70158,ZAF,South Africa,2002,population_population,POPU_POP,48019.410000
70159,ZMB,Zambia,2002,population_population,POPU_POP,10647.950000
70160,ZWE,Zimbabwe,2002,population_population,POPU_POP,12087.650000